<!--
  Generated template for the MedaillePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="language=='french'">La médaille miraculeuse</ion-title>
    <ion-title *ngIf="language=='english'"> The miraculous medal</ion-title>
    <ion-title *ngIf="language=='spanish'">La medalla milagrosa</ion-title>
    <ion-title *ngIf="language=='arabic'">الميدالية المعجزة</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <label *ngIf="language=='french'">

    <strong>« O Marie conçue sans péché, priez pour nous qui avons recours à vous ».</strong>
    <p>L’identité de Marie nous est révélée ici explicitement: la Vierge Marie est immaculée dès sa conception. De ce
      privilège qui lui vient déjà des mérites de la Passion de son Fils Jésus, le Christ, découle sa toute-puissance
      d’intercession qu’elle exerce pour ceux qui la prient. C’est pourquoi, la Vierge invite tous les hommes à avoir
      recours à elle dans les difficultés de leur vie.


    </p>
    <p>Ses pieds sont posés sur une moitié de boule et ils écrasent la tête d’un serpent.
      <br>La demi-boule c’est le demi-globe terrestre, c’est le monde. Le serpent, chez les juifs et les chrétiens,
      personnifie Satan et les forces du mal.

    </p>
    <p>La Vierge Marie est engagée elle-même dans le combat spirituel, le combat contre le mal dont notre monde est le
      champ de bataille. Elle nous appelle à entrer nous aussi dans la logique de Dieu qui n’est pas la logique du
      monde. C’est cela la grâce authentique de conversion que le chrétien doit demander à Marie pour la transmettre au
      monde.

    </p>
    <p>Ses mains sont ouvertes et ses doigts sont ornés d’anneaux revêtus de pierreries d’où sortent des rayons qui
      tombent sur la terre en s’élargissant vers le bas.

    </p>
    <p>L’éclat de ces rayons, comme la beauté et la lumière de l’apparition décrites par Catherine, appellent,
      justifient et nourrissent notre confiance dans la fidélité de Marie (les anneaux) envers son Créateur et envers
      ses enfants, dans l’efficacité de son intervention (les rayons de grâce qui tombent sur la terre) et dans la
      victoire finale (la lumière) puisqu’elle-même, première disciple, est la première sauvée.

    </p>
    <p>La médaille porte sur son <strong>revers</strong> une initiale et des dessins qui nous introduisent dans le
      secret de Marie.
    </p>
    <strong>La lettre « M » est surmontée d’une croix.</strong>
    <p>Le « M » est l’initiale de Marie, la croix est la Croix du Christ. Les deux signes enlacés montrent le rapport
      indissoluble qui lie le Christ à sa très sainte Mère. Marie est associée à la mission du Salut de l’humanité par
      son Fils Jésus et participe par sa compassion à l’acte même du sacrifice rédempteur du Christ.

    </p>En bas, <strong>deux cœurs</strong>, l’un entouré d’une couronne d’épines, l’autre transpercé d’un glaive.
    <br>Le cœur couronné d’épines est le Cœur de Jésus. Il rappelle l’épisode cruel de la Passion du Christ raconté dans
    les évangiles, avant sa mise à mort. Il signifie sa Passion d’amour pour les hommes.
    <br>Le cœur percé d’un glaive est le Cœur de Marie, sa Mère. Il rappelle la prophétie de Siméon racontée dans les
    évangiles, le jour de la Présentation de Jésus au temple de Jérusalem par Marie et Joseph. Il signifie l’amour du
    Christ qui habite Marie et son amour pour nous : pour notre Salut, elle accepte le sacrifice de son propre Fils.
    <br>Le rapprochement des deux Cœurs exprime que la vie de Marie est vie d’intimité avec Jésus.

    <p><strong>Douze étoiles</strong> sont gravées au pourtour. Elles correspondent aux douze apôtres et représentent
      l’Eglise. Etre d’Eglise, c’est aimer le Christ et participer à sa passion pour le Salut du monde. Chaque baptisé
      est invité à s’associer à la mission du Christ en unissant son cœur aux Cœurs de Jésus et de Marie.
    </p>
    <p>La médaille est un appel à la conscience de chacun, pour qu’il choisisse, comme le Christ et Marie, la voie de
      l’amour jusqu’au don total de soi.
    </p>


  </label>


  <!--<label *ngIf="language=='french'">-->


  <!--<h6 style="text-align: center;"><span style="color: #5fb0e7;"><strong>Dans cette chapelle choisie par Dieu, la Vierge Marie en personne-->
  <!--est venue révéler son identité à travers un petit objet,-->
  <!--une médaille, destinée à tous sans distinction!</strong></span></h6>-->
  <!--<p><span style="color: #5fb0e7;"><strong>><img src="assets/imgs/chapelleNDMM.jpg" alt="chapelleNDMM" sizes="(max-width: 100%) 100vw, 3457px" width="100%" ></strong></span></p>-->
  <!--<hr>-->
  <!--<p style="text-align: justify;"><span style="color: #000000;">En 431 le Concile d’Ephèse avait proclamé le premier dogme marial&nbsp;: Marie est mère de Dieu. A partir de 1830, l’invocation </span><strong><span style="color: #5fb0e7;">« O Marie conçue sans péché priez pour nous qui avons recours à vous » </span></strong>qui monte vers le ciel, mille et mille fois répétée par mille et mille cœurs de chrétiens dans le monde entier, à la demande même de la Mère de Dieu, va produire son effet!</p>-->
  <!--<p style="text-align: center;"><span style="color: #5fb0e7;"><strong><img class="alignleft  wp-image-2006" src="assets/imgs/médaille-miraculeuse.png" alt="médaille miraculeuse"  sizes="(max-width: 157px) 100vw, 157px" width="100%" ></strong></span>-->
  <!--<br> </p> <p style="text-align: justify;">Le 8 décembre 1854 <strong>Pi</strong><strong>e IX</strong> proclame le dogme de l’Immaculée Conception&nbsp;: par une grâce spéciale qui lui venait déjà de la mort de son Fils, Marie est sans péché dès le début de sa conception. Quatre ans plus tard, en 1858, les apparitions de <strong>Lourdes</strong> vont confirmer à Bernadette Soubirous le privilège de la mère de Dieu.<br>-->
  <!--Cœur Immaculé, Marie est la première rachetée par les mérites de Jésus Christ. Elle est lumière pour notre terre. Nous sommes tous, comme elle, destinés au bonheur éternel.<br>-->
  <!--Quelques mois après les apparitions, sœur Catherine est nommée à l’hospice d’Enghein (Paris 12e) pour soigner les vieillards. Elle se met au travail. Mais la voix intérieure insiste&nbsp;: il faut faire frapper la médaille. Catherine en reparle à son confesseur, le Père Aladel.</p>-->
  <!--<p style="text-align: justify;">En février 1832 éclate à Paris une terrible épidémie de choléra, qui va faire plus de 20.000 morts&nbsp;! Les Filles de la Charité commencent à distribuer, en juin, les 2.000 premières médailles frappées à la demande du Père Aladel.&nbsp; Les guérisons se multiplient, comme les protections et les conversions. C’est un raz-de-marée. Le peuple de Paris appelle la médaille « miraculeuse ».<br>-->
  <!--A l’automne 1834 il y a déjà plus de 500.000 médailles. En 1835 il y en a plus d’un million dans le monde entier. En 1839 la médaille est répandue à plus de dix millions d’exemplaires.<br>-->
  <!--A la mort de sœur Catherine, en 1876, on compte plus d’un milliard de médailles&nbsp;!</p>-->
  <!--<hr>-->

  <!--</label>-->

  <label *ngIf="language=='english'">

    <h5>The apparitions and the Miraculous Medal</h5>
    <p>
      The chapel was built in 1815 and was dedicated to the Sacred Heart of Jesus. In 1830 it was privileged with the
      extraordinary events  of the apparitions of the Blessed Virgin to Sister Catherine Labouré that marked it forever.
      The apparitions  
      Heaven came down to earth… Between July and December 1830 Sister Catherine, a young Seminary Sister (novice) of
      the Daughters of Charity, received the extraordinary favour of conversing with the Virgin Mary on three occasions.
      In the preceding months Catherine had the privilege of other apparitions. Saint Vincent de Paul showed her his
      heart. While at prayer in the chapel, Catherine saw, on three successive days, the heart of Saint Vincent in three
      different colours. The heart first appeared white, the colour of peace; then red, the colour of fire; and then
      black, an indication of the misfortunes that would come upon France and Paris in particular. Soon afterwards,
      Catherine saw Christ present in the Eucharistic host. “I saw Our Lord in the Blessed Sacrament all the time of my
      seminary except the times when I doubted.” On June 6, 1830, feast of the Holy Trinity, Christ appeared as a
      crucified King, stripped of all his adornments.
    </p>

    <h6>July 18, 1830</h6>

    July 18, 1830, the eve of the feast of Saint Vincent whom she loved so much and whose heart she had seen overflowing
    with love, Catherine prayed that, through his intercession, her desire to see the Blessed Virgin would finally be
    fulfilled.  At eleven-thirty at night, she was called by name. A mysterious child was at the foot of her bed and
    asked her to get up. “The Blessed Virgin is waiting for you.” Catherine dressed and followed the child who was
    “bringing rays of brightness wherever he passed.” Having arrived in the chapel, St. Catherine stopped near the chair
    used by the priest in the sanctuary (current location of the statue of Saint Joseph).  She then heard a sound “like
    the rustle of a silk dress.”  Her little guide said, “Here is the Blessed Virgin.” She hesitated. But the child
    repeated in a stronger tone of voice, “Here is the Blessed Virgin.” In a single bound, Catherine was at the feet of
    the Blessed Virgin, seated on a chair and rested her hands on the knees of the Mother of God. “There, a period of
    time passed, the sweetest of my life.  It would be impossible for me to say what I experienced.  The Blessed Virgin
    told me how I should behave towards my spiritual director and also several other things.” The Blessed Virgin pointed
    to the altar where the tabernacle was and said, “Come to the foot of this altar.  Here, graces will be spread over
    all who ask for them with confidence and fervour.” A difficult mission was announced as well as a request for the
    establishment of a Confraternity of the Children of Mary.  Father Aladel would accomplish this request on February
    2, 1840.

    <h6>November 27, 1830</h6>

    On November 27, 1830, the Blessed Virgin appeared to Catherine again in the chapel.  This time, it was at 5:30 pm,
    during meditation, under the painting of Saint Joseph (current location of Our Lady of the Globe).  First, Catherine
    saw something like two living paintings, one fading into the other, in which the Blessed Virgin stood on a
    half-globe, her feet crushing a serpent. In this first image, the Virgin held a small golden globe topped with a
    cross, which she lifted up toward heaven.  Catherine heard, “This globe represents the entire world, including
    France, and every person.” In the second image, beautiful rays of light stream from the Blessed Virgin’s open hands,
    covered with jewelled rings.  At that same moment St. Catherine heard a voice saying, “These rays are a symbol of
    the graces that I pour out on those who ask them of me.” Then an oval formed around the apparition, and Catherine
    saw in a semi-circle this invocation: “O Mary conceived without sin, pray for us who have recourse to you,”
    emblazoned in gold letters. She then heard a voice saying, “Have a medal made according to this model. For those who
    wear it with confidence, there will be abundant graces.” Finally, the image turned, and Catherine saw the reverse
    side of the medal: the letter M surmounted with a little cross and two hearts, one crowned with thorns and the other
    pierced with a sword, below.

    <h6>December 1830</h6>
    In the month of December 1830, during meditation, Catherine again heard the rustling sound, this time behind the
    altar. The same image of the medal appeared near the tabernacle, slightly behind it. “These rays are the symbol of
    the graces that the Blessed Virgin obtains for those who ask them of her…You will not see me anymore.” This was the
    end of the apparitions.  Catherine communicated the requests of the Blessed Virgin to Father Aladel, her confessor. 
    He was not receptive to her message and forbade her to even think about it.  This was a terrible blow for her.

    On January 30, 1831, Catherine finished her Seminary and received the habit of the Daughters of Charity.  The next
    day, she set off for the Hospice of Enghien, which had been established by the Orléans family and was located at 12
    rue de Picpus on the east side of Paris, in an impoverished neighbourhood where she served elderly men and poor
    persons for 46 years quietly and in complete obscurity.

    <h6>The medal</h6>

    <p><span style="color: #5fb0e7;"><strong>><img src="assets/imgs/chapelleNDMM.jpg" alt="chapelleNDMM"
                                                   sizes="(max-width: 100%) 100vw, 3457px" width="100%"></strong></span>
    </p>

    In this chapel, chosen by God, the Virgin Mary came in person to reveal her identity through a little object, a
    medal, intended for all without distinction. Mary’s identity had been the subject of controversy among theologians
    since the beginnings of the Church.  In 431 the Council of Ephesus proclaimed the first Marian dogma: Mary is the
    Mother of God. Starting in 1830, the invocation, “O Mary conceived without sin, pray for us who have recourse to
    you,” which rose up toward heaven, repeated thousands of times in the hearts of thousands of Christians all over the
    world at the request of that same Mother of God, would have an effect! On December 8, 1854, Pius IX proclaimed the
    dogma of the Immaculate Conception: by a singular privilege and grace granted by God, in view of the merits of Jesus
    Christ, the Saviour of the human race, Mary is without sin from the moment of her conception.
    Four years later in 1858, the apparitions at Lourdes would confirm to Bernadette Soubirous this privilege of the
    Mother of God. With her immaculate heart, Mary is the first redeemed by the merits of Jesus Christ. She is light for
    our world. We are all, like her, destined for eternal happiness.   Some months after the apparitions, Sister
    Catherine was assigned to the Hospice of Enghein (in the 12th district of Paris) to care for elderly men. She set
    about her work; however, an interior voice kept insisting that the Medal must be struck.
    <br>

    Catherine spoke about it again to her confessor, Father Aladel. In February 1832 a terrible cholera epidemic broke
    out in Paris and would cause more than 20,000 deaths.  In June the Daughters of Charity began to distribute the
    first 2000 medals produced at Father Aladel’s request. Cures accumulated, as did protection from the disease and
    conversions.  It was overwhelming.  The people of Paris began to call the medal “miraculous”.
    <br>
    By autumn of 1834 there were already 500,000 medals in existence. In 1835 there were more than one million
    worldwide, and in 1839 more than 10,000,000 medals had been distributed.  At the time of the death of Sister
    Catherine, in 1876, there were more than a billion medals.  <br>

    The words and images on the front of the medal express a message with three tightly connected aspects. “O Mary
    conceived without sin, pray for us who have recourse to you.” Mary’s identity is explicitly revealed to us here: the
    Virgin Mary is immaculate from the moment of her conception. The power behind her intercession for those who pray to
    her comes from this privilege derived from the merits of the Passion of her Son Jesus Christ. This is why the Virgin
    invites everyone to have recourse to her in the difficulties of life.
    <br>
    Her feet are planted on a half-sphere and crush the head of a serpent. This half-sphere is the globe.  For Jews and
    Christians, the serpent personifies Satan and the forces of evil. The Virgin Mary is herself engaged in a spiritual
    battle, the battle against evil, and the battlefield is our world.  She calls us to enter with her into God’s way of
    thinking, which is not the way of the world.  This is the true grace of conversion that Christians should ask of
    Mary so that they can in turn pass it on to the world.
    <br>

    Her hands are open and her fingers are adorned with rings, decorated with precious stones. These jewels emit rays of
    light, becoming increasingly bigger as they beam toward earth. The radiance of these beams, like the beauty of the
    apparition described by Catherine, calls forth, justifies and strengthens our trust in Mary’s faithfulness (the
    rings) towards her Creator and towards her children, in the efficacy of her intervention (the rays of grace that
    fall on the earth), and in the final victory (the light), since she, as the first disciple, is the first saved.
    <br>

    On the back of the medal, a letter and drawings introduce us to the secret of Mary. The letter “M” is surmounted by
    a cross. The “M” is Mary’s initial; the cross is the Cross of Christ.  The two interwoven signs show the inseparable
    relationship that connects Christ to his Holy Mother.  Mary is associated with the mission of human salvation
    through her Son Jesus and, through her compassion, participates in the very act of the redeeming sacrifice of
    Christ.
    <br>

    There are two hearts at the bottom, one encircled by the crown of thorns and the other pierced by a sword. The heart
    crowned with thorns is the Sacred Heart of Jesus.  It recalls the cruel episode of Christ’s Passion before He was
    put to death, as recounted in the Gospels.  It represents His passionate love for humanity. The heart pierced by a
    sword is the Immaculate Heart of Mary, his Mother.  It recalls Simeon’s prophecy the day Mary and Joseph presented
    Jesus in the temple, as recounted in the Gospel.  It represents the love of Christ that dwells within Mary and her
    love for us: for the sake of our Salvation she accepted the sacrifice of her own Son. Depicting these two hearts
    close together indicates that Mary’s life is one of intimacy with Jesus.
    <br>

    Twelve stars are engraved around the medal’s edge. They represent the twelve apostles and thus the Church. To belong
    to the Church is to love Christ and to participate in his passion for the salvation of the world. Each baptized
    person is invited to become a part of the mission of Christ by uniting his heart to the hearts of Jesus and Mary.
    <br>
    The medal appeals to our conscience so that each one of us might chose, as did Christ and Mary, the path of love
    even unto the total gift of self.
    <br>

  </label>


  <label *ngIf="language=='spanish'">
    <h6>La medalla</h6>

    <p><span style="color: #5fb0e7;"><strong>><img src="assets/imgs/chapelleNDMM.jpg" alt="chapelleNDMM"
                                                   sizes="(max-width: 100%) 100vw, 3457px" width="100%"></strong></span>
    </p>

    En esta capilla escogida por Dios, la Virgen María en persona ha venido a revelar su identidad por medio de un
    objeto pequeño, una medalla, destinada a todos sin distinción! La identidad de María era tema de controversias entre
    teólogos desde los primeros tiempos de la Iglesia. En 431, el Concilio de Efeso había proclamado el primer dogma
    mariano: María es madre de Dios. Desde 1830, la invocación
    <em>« Oh María, sin pecado concebida, ruega por nosotros que recurrimos a ti »</em>
    que se levanta hacia el cielo, mil y mil veces repetida por miles de almas cristianas en todo el mundo a petición de
    la Madre de Dios, va a producir su efecto.
    El 8 de diciembre de 1854, Pío IX proclama el dogma de la Inmaculada Concepción: por una gracia especial que ya le
    venía de la muerte de su Hijo, María fue concebida sin pecado.
    Cuatro años más tarde, en 1858, las apariciones de Lourdes van a confirmar a Bernadette Soubirous el privilegio de
    la madre de Dios.
    Corazón Inmaculado, María fue la primera rescatada por los méritos de Jesucristo. Es luz para nuestra tierra. Todos
    estamos destinados, como ella, a la felicidad eterna.
    Una medalla milagrosa..¿por qué?…¿luminosa, cómo?…¿y dolorosa?<br>

    milagrosa… <br>
    Unos meses después de las apariciones, sor Catalina es destinada al hospicio de Enghien, en el distrito 12 de París,
    para cuidar a los ancianos. Se pone al trabajo. Pero la voz interior insiste: hay que hacer que se acuñe la medalla.
    De eso Catalina vuelve a hablar a su confesor, el Padre Aladel.
    <br>

    En febrero de 1832, hay en París una terrible epidemia de cólera, que va a hacer más de 20.000 muertos. Las Hijas de
    la Caridad empiezan a distribuir, en junio, las 2.000 primeras medallas acuñadas a petición del padre Aladel.
    <br>
    Son numerosas las curaciones, lo mismo que las protecciones y conversiones. Es un maremoto. El pueblo de París
    califica la medalla de « milagrosa ».
    <br>
    En el otoño de 1834 ya hay más de 500.000 medallas, y en 1835 más de un millón en todo el mundo. En 1839, se ha
    propagado la medalla hasta alcanzar más de diez millones de ejemplares. A la muerte de sor Catalina, en 1876, se
    cuentan más de mil millones de medallas.
    <br>

    y luminosa… <br>

    Las palabras y los símbolos grabados en el anverso de la medalla expresan un mensaje con tres aspectos estrechamente
    ligados entre sí.
    <br>
    « Oh María sin pecado concebida, ruega por nosotros que recurrimos a ti ». <br>
    La identidad de María se nos revela aquí explícitamente: la Virgen Msaría es inmaculada desde su concepción. De este
    privilegio que ya le viene de los méritos de la Pasión de su Hijo Jesucristo, emana su inmenso poder de intercesión
    que ejerce para quienes le dirigen sus plegarias. Por eso la Virgen María invita a todos las personas a acudir a
    ella en cualquier trance. Sus pies en medio de un globo aplastan la cabeza de una serpiente.
    <br>
    Este globo representa a la tierra, el mundo. Entre judíos y cristianos, la serpiente personifica a Satanás y las
    fuerzas del mal.
    <br>
    La Virgen María toma parte en el combate espiritual, el combate contra el mal, cuyo campo de batalla es nuestro
    mundo. Nos invita a entrar nosotros también en la lógica de Dios que no es la lógica del mundo. La gracia auténtica
    de conversión es lo que ha de pedir el cristiano a María para transmitirla al mundo.
    <br>

    Sus manos están abiertas y sus dedos adornados con anillos que llevan piedras preciosas de las que salen rayos que
    caen esparciéndose por toda la tierra.
    <br>
    El resplandor de estos rayos, lo mismo que la hermosura y la luminosidad de la aparición descritas por Catalina,
    requieren, justifican y alientan nuestra confianza en la fidelidad de María (los anillos) para con su Criador y para
    con sus hijos; en la eficacia de su intervención (los rayos de gracia que caen en la tierra) y en la victoria final
    (la luz), ya que ella misma, primera discípula, es la primera salvada.
    <br>

  </label>

  <label *ngIf="language=='arabic'">

    <h5>الظهورات والميدالية المعجزة</h5>
    <p>
      تم بناء الكنيسة في عام 1815 وتم تكريسها لقلب يسوع المقدس. في عام 1830 كان امتياز مع
      أحداث استثنائية لظهور العذراء المباركة إلى الأخت كاثرين لابوري التي ميزتها إلى الأبد.
      الظهورات
      نزلت السماء إلى الأرض ... بين يوليو / تموز وديسمبر / كانون الأول 1830 الأخت كاثرين ، شقيقة أكاديمية شابة (مبتدئة)
      تلقت بنات الصدقة ، التفضيل الاستثنائي للتحدث مع العذراء مريم في ثلاث مناسبات.
      في الأشهر السابقة كانت كاثرين تتمتع بظهور غيرها من الظهورات. سانت فنسنت دي بول أظهر لها
      قلب. أثناء الصلاة في الكنيسة ، شهدت كاثرين ، في ثلاثة أيام متتالية ، قلب سانت فنسنت في ثلاثة
      ألوان مختلفة. بدا القلب أبيض اللون ، لون السلام. ثم الأحمر ، لون النار. وثم
      أسود ، مؤشرا على المصائب التي ستأتي على فرنسا وباريس على وجه الخصوص. بعد ذلك بوقت قصير،
      شهدت كاثرين المسيح الحاضر في مضيف الافخارستية. "رأيت ربنا في القربان المقدس طوال الوقت
      الحادية عشر باستثناء الأوقات التي شككت فيها. "في 6 يونيو 1830 ، عيد الثالوث الأقدس ، ظهر المسيح على أنه
      مصلوب الملك ، جردت من جميع زينته.
    </p>

    <h6>18 يوليو 1830</h6>

    18 يوليو 1830 ، عشية عيد القديس فنسنت الذي أحبته كثيرا والتي شهدت قلبها تفيض
    مع الحب ، صليت كاترين أنه من خلال شفاعته ، فإن رغبتها في رؤية العذراء المقدسة ستكون في النهاية
    استيفاء. في أحد عشر وثلاثين ليلا ، دعيت بالاسم. طفل غامض كان في أسفل سريرها و
    طلبت منها النهوض. "العذراء المقدّسة تنتظرك." ترتدي كاترين وتتبع الطفل الذي كان
    "جلب الأشعة من السطوع أينما مر". بعد أن وصلت إلى الكنيسة ، توقفت سانت كاترين بالقرب من الكرسي
    تستخدم من قبل الكاهن في الحرم (الموقع الحالي لتمثال القديس يوسف). ثم سمعت صوت "مثل
    "حفيف لباس الحرير." وقالت مرشدها الصغير ، "هنا هي العذراء المباركة". ترددت. لكن الطفل
    تتكرر في نبرة صوت أقوى ، "هنا هي العذراء المباركة". في إحدى القيود ، كانت كاثرين عند أقدام
    العذراء المقدّسة ، جالسة على كرسي واستراحت يديها على ركبتيّ والدة الإله. "هناك ، فترة من
    مر الوقت ، أحلى حياتي. سيكون من المستحيل بالنسبة لي أن أقول ما خبرته. العذراء المباركه
    قال لي كيف يجب أن أتصرف تجاه مديري الروحي وأشياء أخرى كثيرة. "أشارت العذراء المباركة
    الى المذبح الذي كان فيه المسكن وقال "تعال الى سفح هذا المذبح. هنا ، سيتم نشر النعم
    كل الذين يسألونهم بثقة وحماس ". تم الإعلان عن مهمة صعبة وكذلك طلب للحصول على
    إنشاء أخوية لأطفال مريم. سيقوم الأب ألاضل بإنجاز هذا الطلب في فبراير
    2 ، 1840.

    <h6>27 نوفمبر 1830</h6>
    في 27 نوفمبر 1830 ، ظهرت العذراء المقدّسة إلى كاثرين مرة أخرى في الكنيسة. هذه المرة ، كانت الساعة 5:30 مساءً ،
    خلال التأمل ، تحت لوحة القديس يوسف (الموقع الحالي لسيدة العالم). أولا ، كاترين
    رأى شيئا مثل اثنين من اللوحات الحية، واحد يتلاشى في الآخر، حيث كانت العذراء المباركة تقف على
    نصف الكرة الأرضية ، تسحق قدميها الثعبان. في هذه الصورة الأولى ، عقدت العذراء كروية ذهبية صغيرة تعلوها
    الصليب ، والتي رفعت نحو السماء. سمعت كاترين ، "هذه الكرة الأرضية تمثل العالم بأسره ، بما في ذلك
    فرنسا ، وكل شخص ". في الصورة الثانية ، أشعة جميلة من تيار فاتر من يد السيدة العذراء المفتوحة ،
    مغطاة الحلقات مرصع بالجواهر. في نفس اللحظة سمعت سانت كاترين صوتًا يقول: "هذه الأشعة هي رمز
    النكهات التي أتدفقها على الذين يسألونني ". ثم شكلت بيضاوية حول الظهور ، وكاترين
    رأى في نصف دائرة هذا الاحتجاج: "يا مريم تصوّر بدون خطيئة ، صلي لأجلنا الذين يلجؤون إليك"
    مزركشة بأحرف ذهبية. ثم سمعت صوتًا يقول: "احضر ميدالية وفقًا لهذا النموذج. لاولئك الذين
    أرتديها بثقة ، سيكون هناك وفرة من النعم. ”وأخيرا ، تحولت الصورة ، ورأت كاثرين عكس ذلك
    جانب من الميدالية: تعلقت الحرف M مع صليب صغير واثنين من القلوب ، واحد توج مع الأشواك والآخر
    اخترقت مع السيف ، أدناه.
    <h6>ديسمبر 1830</h6>
    في شهر ديسمبر عام 1830 ، أثناء التأمل ، سمعت كاترين مرة أخرى صوت سرقة ، هذه المرة وراء
    مذبح. ظهرت نفس الصورة للميدالية قرب المسكن ، خلفها قليلاً. "هذه الأشعة هي رمز
    النعم التي تحصل عليها العذراء المباركة لأولئك الذين يسألونها عنها ... لن تراني بعد الآن. "
    نهاية الظهورات. أبلغت كاثرين طلبات السيدة العذراء إلى الأب ألديل ، المعترف بها.
    لم يكن يتقبل رسالتها ونهى عنها حتى التفكير فيها. كانت هذه ضربة فظيعة بالنسبة لها.

    في 30 يناير 1831 ، أنهت كاثرين إمتحاناتها وحصلت على عادة بنات العمل الخيري. التالي
    اليوم ، انطلقت إلى تكية من إنغين ، التي تم تأسيسها من قبل عائلة أورليان وكان يقع في 12
    شارع بيسبس في الجانب الشرقي من باريس ، في حي فقير حيث خدمت الرجال المسنين والفقراء
    الأشخاص لمدة 46 سنة بهدوء وبالغضاء التام.

    <h6>The medal</h6>

    <p><span style="color: #5fb0e7;"><strong>><img src="assets/imgs/chapelleNDMM.jpg" alt="chapelleNDMM"
                                                   sizes="(max-width: 100%) 100vw, 3457px" width="100%"></strong></span>
    </p>

    في هذه الكنيسة ، التي اختارها الله ، جاءت العذراء مريم شخصيا للكشف عن هويتها من خلال كائن صغير ، أ
    ميدالية مخصصة للجميع دون تمييز. كانت هوية ماري موضع جدل بين اللاهوتيين
    منذ بدايات الكنيسة. في 431 أعلن مجلس أفسس العقيدة ماريان الأولى: ماري هي
    ام الاله. ابتداء من عام 1830 ، الاحتجاج ، "يا مريم من دون خطيئة ، نصلي من أجلنا الذين يلجأون إليها
    أنت، "التي صعدت نحو السماء، كررت آلاف المرات في قلوب الآلاف من المسيحيين في جميع أنحاء
    العالم بناء على طلب من نفس والدة الله ، سيكون لها تأثير! في 8 ديسمبر 1854 ، أعلن بيوس التاسع
    عقيدة الحبل بلا دنس: من خلال امتياز ونعمة فريدة منحت من قبل الله ، في ضوء مزايا يسوع
    المسيح ، مخلِّص الجنس البشري ، مريم بلا خطيئة من لحظة حملها.
    بعد أربع سنوات في عام 1858 ، كانت الظهورات في لوردز تؤكد لبرناديت سوبيروس هذا الامتياز لل
    ام الاله. بقلبها النظيف ، مريم هي أول من افتدى بفضائل يسوع المسيح. إنها خفيفة
    عالمنا. نحن جميعا ، مثلها ، متجهة إلى السعادة الأبدية. بعد بضعة أشهر من الظهورات ، يا أخت
    تم تعيين كاثرين في تكية إنغين (في الحي الثاني عشر في باريس) لرعاية المسنين. انها وضعت
    عن عملها ومع ذلك ، ظل الصوت الداخلي يصر على وجوب ضرب الميدالية.
    <br>

    تحدثت كاثرين عنها مرة أخرى إلى معترف بها ، الأب Aladel. في فبراير 1832 ، تفشى وباء كوليرا فظيع
    في باريس وسيسبب أكثر من 20،000 حالة وفاة. في يونيو بدأت بنات الخيرية بتوزيع
    أول ميداليات لعام 2000 تم إنتاجها بناء على طلب الأب ألديل. علاجات متراكمة، وكذلك الحماية من المرض و
    التحويلات. كان ساحقا. بدأ أهل باريس يطلقون على ميدالية "الإعجاز".
    <br>
    بحلول خريف عام 1834 كان هناك بالفعل 500000 ميدالية. في عام 1835 كان هناك أكثر من مليون شخص
    في جميع أنحاء العالم ، وفي عام 1839 تم توزيع أكثر من 10،000،000 ميدالية. في وقت وفاة الأخت
    كاثرين ، في عام 1876 ، كان هناك أكثر من مليار ميدالية. <br>

    تعبر الكلمات والصور الموجودة على واجهة الميدالية عن رسالة تحتوي على ثلاثة جوانب مترابطة بإحكام. "يا مريم
    تصور دون خطيئة ، نصلي من أجلنا الذين يلجأون إليك ". تم الكشف عن هوية ماري لنا هنا بوضوح:
    العذراء مريم نقية منذ لحظة ولادتها. القوة وراء شفاعتها لأولئك الذين يصلون
    تأتي من هذا الامتياز المستمد من مزايا آلام ابنها يسوع المسيح. هذا هو السبب في العذراء
    تدعو الجميع إلى اللجوء إليها في مصاعب الحياة.
    <br>
    تزرع قدميها على نصف الكرة وتسحق رأس الثعبان. هذا نصف الكرة الأرضية هو الكرة الأرضية. لليهود و
    المسيحيون ، الأفعى تجسد الشيطان وقوى الشر. العذراء مريم نفسها تعمل في الروحانية
    المعركة ، المعركة ضد الشر ، وساحة المعركة هو عالمنا. تدعونا للدخول معها إلى طريق الله
    التفكير ، وهي ليست طريقة العالم. هذه هي نعمة التحويل الحقيقية التي يجب على المسيحيين أن يسألوها
    ماري حتى يتمكنوا من تمريرها إلى العالم.
    <br>

    يديها مفتوحة وأصابعها مزينة بحلقات مزينة بالأحجار الكريمة. هذه الجواهر تنبعث منها أشعة
    الضوء ، يصبح أكبر على نحو متزايد لأنها شعاع نحو الأرض. إشعاع هذه الحزم ، مثل جمال ال
    الظهور الذي وصفته كاترين، يدعو، يبرر ويقوي ثقتنا في ماري الإخلاص (
    حلقات) نحو خالقها ونحو أطفالها ، في فعالية تدخلها (أشعة النعمة ذلك
    تقع على الأرض) ، وفي النصر النهائي (النور) ، لأنها هي ، أول تلميذ ، هو أول من حفظها.
    <br>

    على ظهر الميدالية ، تعرّفنا رسالة ورسومات على سر ماري. الحرف "M" يعلوه
    الصليب. "M" هي كلمة مريم الأولية ؛ الصليب هو صليب المسيح. تظهر اللافتان المتشابكتان المفصولة
    العلاقة التي تربط المسيح بأمه المقدسة. ترتبط مريم بمهمة إنقاذ الإنسان
    من خلال ابنها يسوع ، ومن خلال تعاطفها ، تشارك في فعل التضحية الفدائي
    السيد المسيح.
    <br>

    هناك قلوبان في القاع ، أحدهما محاط بتاج الأشواك والآخر مثقوب بالسيف. القلب
    توج بالشوك هو قلب يسوع الأقدس. يتذكر الحلقة القاسية من آلام المسيح قبل أن يكون
    نفذت حتى الموت ، كما روى في الأناجيل. إنه يمثل حبه الشغوف للبشرية. القلب اخترقت من قبل
    السيف هو قلب مريم الطاهر ، أمه. يتذكر نبوءة سمعان في اليوم الذي قدمت فيه ماري وجوزيف
    يسوع في المعبد ، كما روى في الإنجيل. إنها تمثل حب المسيح الذي يسكن داخل مريم ولها
    حب لنا: من أجل خلاصنا ، قبلت ذبيحة ابنها. تصور هذين القلوب
    يقترب من أن حياة مريم هي واحدة من الحميمية مع يسوع.
    <br>

    اثنا عشر نجمة منقوشة حول حافة الميدالية. يمثلون الرسل الاثني عشر وبالتالي الكنيسة. للانتماء
    للكنيسة أن تحب المسيح وأن تشارك في شغفه لخلاص العالم. كل عمد
    يدعى الشخص ليصبح جزءا من مهمة المسيح بتوحيد قلبه إلى قلوب يسوع ومريم.
    <br>
    تناشد الميدالية ضميرنا لكي يختار كل واحد منا ، كما فعل المسيح ومريم ، طريق الحب
    حتى الى الهدية الكاملة للذات.
    <br>

  </label>

  <label *ngIf="language=='portuguese'">


    <h6 style="text-align: center;"><span style="color: #5fb0e7;"><strong>Nesta Capela, escolhida por Deus, a Virgem Maria, em pessoa, veio revelar sua identidade através de um pequeno objeto, uma medalha, destinada a todos sem distinção!</strong></span></h6>
    <p><span style="color: #5fb0e7;"><strong>><img src="assets/imgs/chapelleNDMM.jpg" alt="chapelleNDMM" sizes="(max-width: 100%) 100vw, 3457px" width="100%" ></strong></span></p>
    <hr>
    <p style="text-align: justify;"><span style="color: #000000;">Em 431, o Concílio de Éfeso tinha proclamado o primeiro dogma marial: Maria é mãe de Deus. A partir de 1830, a invocaçã </span><strong><span style="color: #5fb0e7;">« O’ Maria concebida sem pecado, rogai por nós que recorremos a vós » </span></strong>que sobe ao céu, milhares e milhares de vezes repetida por milhares e milhares de corações de cristãos do mundo inteiro, a pedido da própria Mãe de Deus, vai produzir seu efeito!</p>
    <p style="text-align: center;"><span style="color: #5fb0e7;"><strong><img class="alignleft  wp-image-2006" src="assets/imgs/médaille-miraculeuse.png" alt="médaille miraculeuse"  sizes="(max-width: 157px) 100vw, 157px" width="100%" ></strong></span>
      <br> </p> <p style="text-align: justify;">A 8 de dezembro de 1854, Pio IX proclama o dogma da Imaculada Conceição: por uma graça especial que lhe vinha da morte de seu Filho, Maria é sem pecado desde o começo de sua concepção.
    Quatro anos mais tarde, em 1858, as aparições de <strong>Lourdes</strong> irão confirmar a Bernadette Soubirous, o privilégio da mãe de Deus.<br>
    Coração Imaculado, Maria é a primeira resgatada pelos méritos de Jesus Cristo. Ela é luz para nossa terra. Todos somos como a Virgem Maria, destinados à felicidade eterna.<br>
    Alguns meses após as aparições, Irmã Catarina é nomeada para o Asilo de Enghien (Paris XII), a fim de cuidar dos anciãos. Ela se põe ao trabalho. A voz interior, porém, insiste: é preciso fazer cunhar a medalha. Catarina volta a falar ao seu confessor, o Padre Aladel.</p>
    <p style="text-align: justify;">Em fevereiro de 1832, grassa uma terrível epidemina de cólera, que vai fazer mais de 20.000 mortos&nbsp;! As Filhas da Caridade começam a distribuir, em junho, as 2.000 primeiras medalhas cunhadas a pedido do Padre Aladel.&nbsp; As curas multiplicam-se, bem como as proteções e conversões. É um alastramento. O povo de Paris chama a medalha de « milagrosa ».<br>
      No outono de 1834 há mais de 500.000 medalhas. Em 1835 mais de um milhão no mundo inteiro. Em 1839, a medalha é distribuída a mais de dez milhões de exemplares.<br>
      À morte de Irmã Catarina, em 1876, contam-se mais de um bilhão de medalhas&nbsp;!</p>
    <hr>


  </label>


</ion-content>
