page-accueil {
  .menu-button{

  }
  .icon{
    font-size: 200% !important;
  }
  .home_image{
    background-image:url("/assets/imgs/detail_logo.jpg");
    background-size: cover;
    background-position: center;
  }
}
