page-accueil {
  .menu-button{

  }
  .icon{
    font-size: 200% !important;
  }
  .home_image{
    background-image:url("/assets/imgs/accueil_background.jpg");
    background-size: cover;
    background-position: center;
  }

  .title{
    padding-left: 10%;
    padding-right: 10%;


  }

  .item-inner{
    border: none !important;
    color:  #5fb0e7 !important;
    font-weight: bold;
    font-size: 1.2em !important;

  }

  .menuIcon{
    width: 50%;

  }

  ion-col{
    padding: 0 !important;
  }



  .scroll-content {
    overflow-y: hidden !important;
  }

  .textMenu{
    padding-left: 3px !important;
    padding-right: 3px !important;
    font-size: 1.1em !important;
  }

}
