page-accueil {
  .menu-button{

  }
  .icon{
    font-size: 200% !important;
  }
  .home_image{
    background: url("../assets/imgs/accueil_background.jpg");
    background-size: cover;
    background-position: center;
  }

  .title{
    padding-left: 10%;
    padding-right: 10%;


  }

  .item-inner{
    border: none !important;
    color:  #5fb0e7 !important;
    font-weight: bold;
    font-size: 6vw !important;

  }

  .menuIcon{
    width: 17.5vw;

  }

  ion-col{
    padding: 0 !important;
  }



  .scroll-content {
    overflow-y: hidden !important;
  }

  .textMenu{
    padding-left: 10% !important;
    padding-right: 10% !important;
    font-size: 3.6vw !important;
    font-weight: bold;
    padding-top: 2px !important;
  }

}
