page-agenda {
 .filter{
   .item {
     height: 10px;
   }
   }

  .scroll-content{

  }

  .ion-slides{

  }

  .ion-list{
    overflow: scroll;
  }

  .toolbar-title{
    color:  #5fb0e7 !important;
    font-size: 4.7vw !important;
  }
}
