
<ion-header>
<ion-navbar>
  <ion-title>{{viewTitle}}</ion-title>
  <!--<button *ngIf="!evenements || !pelerinages">Loading...</button>-->
</ion-navbar>
  <!--<ion-toolbar>-->
    <!--<ion-buttons begin>-->
      <!--<button ion-button icon-only navPop>-->
        <!--<ion-icon name="arrow-back"></ion-icon> Back-->
      <!--</button>-->
    <!--</ion-buttons>-->
    <!--<ion-title>{{viewTitle}}</ion-title>-->
    <!--<ion-buttons end>-->
      <!--<button ion-button icon-only style="color:rgba(255,161,32,0.61)" [navPush]="horaire">-->
        <!--<ion-icon name="time"></ion-icon>Ouverture-->
      <!--</button>-->
    <!--</ion-buttons>-->
  <!--</ion-toolbar>-->

</ion-header>


<ion-content style="overflow: scroll !important;">



  <!--<label *ngIf="language=='spanish'">-->

    <ng-template #template let-view="view" let-row="row" let-col="col" >
      <span >{{view.dates[row*7+col].label}}</span>

    </ng-template>

    <calendar
      [eventSource]="eventSource"
      [calendarMode]="calendar_spanish.mode"
      [currentDate]="calendar_spanish.currentDate"
      (onCurrentDateChanged)="onCurrentDateChanged($event)"
      (onEventSelected)="onEventSelected($event)"
      (onTitleChanged)="onViewTitleChanged($event)"
      (onTimeSelected)="onTimeSelected($event)"
      step="30"
      [monthviewDisplayEventTemplate]="template"
      [locale]="calendar_spanish.locale"
      *ngIf="language=='spanish'"
    >
    </calendar>

  <!--</label>-->




  <!--<label *ngIf="language=='french'">-->

    <!--<ng-template #template let-view="view" let-row="row" let-col="col" >-->
      <!--<span >{{view.dates[row*7+col].label}}</span>-->
<!---->
    <!--</ng-template>-->

    <calendar
      [eventSource]="eventSource"
      [calendarMode]="calendar_french.mode"
      [currentDate]="calendar_french.currentDate"
      (onCurrentDateChanged)="onCurrentDateChanged($event)"
      (onEventSelected)="onEventSelected($event)"
      (onTitleChanged)="onViewTitleChanged($event)"
      (onTimeSelected)="onTimeSelected($event)"
      step="30"
      [monthviewDisplayEventTemplate]="template"
      [locale]="calendar_french.locale"
      *ngIf="language=='french'"
    >
    </calendar>

  <!--</label>-->

  <!--<label *ngIf="language=='english'">-->

    <!--<ng-template #template let-view="view" let-row="row" let-col="col" >-->
      <!--<span >{{view.dates[row*7+col].label}}</span>-->

    <!--</ng-template>-->

    <calendar
      [eventSource]="eventSource"
      [calendarMode]="calendar_english.mode"
      [currentDate]="calendar_english.currentDate"
      (onCurrentDateChanged)="onCurrentDateChanged($event)"
      (onEventSelected)="onEventSelected($event)"
      (onTitleChanged)="onViewTitleChanged($event)"
      (onTimeSelected)="onTimeSelected($event)"
      step="30"
      [monthviewDisplayEventTemplate]="template"
      [locale]="calendar_english.locale"
      *ngIf="language=='english'"
    >
    </calendar>

  <calendar
    [eventSource]="eventSource"
    [calendarMode]="calendar_arabic.mode"
    [currentDate]="calendar_arabic.currentDate"
    (onCurrentDateChanged)="onCurrentDateChanged($event)"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    step="30"
    [monthviewDisplayEventTemplate]="template"
    [locale]="calendar_arabic.locale"
    *ngIf="language=='arabic'"
  >
  </calendar>


  <calendar
    [eventSource]="eventSource"
    [calendarMode]="calendar_portuguese.mode"
    [currentDate]="calendar_portuguese.currentDate"
    (onCurrentDateChanged)="onCurrentDateChanged($event)"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    step="30"
    [monthviewDisplayEventTemplate]="template"
    [locale]="calendar_portuguese.locale"
    *ngIf="language=='portuguese'"
  >
  </calendar>

  <!--</label>-->


</ion-content>

<ion-footer style="border-top: solid 1px #858585;">

  <ion-toolbar style=" padding:0 !important;" *ngIf="language=='spanish'">

    <ion-list style="margin: 0;">

      <ion-item-divider color="light">
        Filtra el calendario por:
      </ion-item-divider>
      <ion-item>
        <ion-label>Categoría</ion-label>
        <ion-select [(ngModel)]="categorySelect" (ionChange)="onActivityFiltered($event)" cancelText="Cancelar" okText="Validar">
          <ion-option value="all">Todo</ion-option>
          <ion-option value="evenement">Evento</ion-option>
          <ion-option value="pelerinage">Peregrinación</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>País</ion-label>
        <ion-select [(ngModel)]="countrySelect" (ionChange)="onActivityFiltered($event)" cancelText="Cancelar" okText="Validar">
          <ion-option value="all">Todo</ion-option>
          <ion-option *ngFor="let countryValue of pays" value="{{countryValue.code}}">{{countryValue.nom_fr}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item-divider color="light">
        Otro
      </ion-item-divider>
        <button ion-button full outline  [navPush]="horaire" style="margin: 0" icon-right> Ver horarios y misas<ion-icon  name="arrow-forward"></ion-icon></button>
    </ion-list>

    <!--<button ion-button clear full  icon-right [navPush]="horaire">Voir horaires d'ouverture <ion-icon name="md-arrow-forward"></ion-icon></button>-->


  </ion-toolbar>

  <ion-toolbar style=" padding:0 !important;" *ngIf="language=='french'">

        <ion-list style="margin: 0;">

          <ion-item-divider color="light">
          Filtrer le calendrier par:
          </ion-item-divider>
        <ion-item>
        <ion-label>Catégorie</ion-label>
        <ion-select [(ngModel)]="categorySelect" (ionChange)="onActivityFiltered($event)" cancelText="Annuler" okText="Valider">
          <ion-option value="all">Tout</ion-option>
          <ion-option value="evenement">Evènement</ion-option>
          <ion-option value="pelerinage">Pélérinage</ion-option>
        </ion-select>
        </ion-item>

        <ion-item>
        <ion-label>Pays</ion-label>
        <ion-select [(ngModel)]="countrySelect" (ionChange)="onActivityFiltered($event)" cancelText="Annuler" okText="Valider">
          <ion-option value="all">Tout</ion-option>
          <ion-option *ngFor="let countryValue of pays" value="{{countryValue.code}}">{{countryValue.nom_fr}}</ion-option>
        </ion-select>
        </ion-item>
          <ion-item-divider color="light">
            Autre
          </ion-item-divider>
          <button ion-button full outline  [navPush]="horaire" style="margin: 0" icon-right>Voir horaires d'ouverture et messes <ion-icon  name="arrow-forward"></ion-icon></button>
        </ion-list>

        <!--<button ion-button clear full  icon-right [navPush]="horaire">Voir horaires d'ouverture <ion-icon name="md-arrow-forward"></ion-icon></button>-->


  </ion-toolbar>

  <ion-toolbar style=" padding:0 !important;" *ngIf="language=='english'">

        <ion-list style="margin: 0;">

          <ion-item-divider color="light">
          Filter calendar by:
          </ion-item-divider>
        <ion-item>
        <ion-label>Category</ion-label>
        <ion-select [(ngModel)]="categorySelect" (ionChange)="onActivityFiltered($event)">
          <ion-option value="all">All</ion-option>
          <ion-option value="evenement">Event</ion-option>
          <ion-option value="pelerinage">Pilgrimage</ion-option>
        </ion-select>
        </ion-item>

        <ion-item>
        <ion-label>Country</ion-label>
        <ion-select [(ngModel)]="countrySelect" (ionChange)="onActivityFiltered($event)" >
          <ion-option value="all">All</ion-option>
          <ion-option *ngFor="let countryValue of pays" value="{{countryValue.code}}">{{countryValue.nom_fr}}</ion-option>
        </ion-select>
        </ion-item>
          <ion-item-divider color="light">
            Other
          </ion-item-divider>
          <button ion-button full outline  [navPush]="horaire" style="margin: 0" icon-right> See opening times and masses <ion-icon  name="arrow-forward"></ion-icon></button>
        </ion-list>

        <!--<button ion-button clear full  icon-right [navPush]="horaire">Voir horaires d'ouverture <ion-icon name="md-arrow-forward"></ion-icon></button>-->


  </ion-toolbar>

  <ion-toolbar style=" padding:0 !important;" *ngIf="language=='arabic'">

        <ion-list style="margin: 0;">

          <ion-item-divider color="light">
            تصفية التقويم من قبل:
          </ion-item-divider>
        <ion-item>
        <ion-label>الفئة</ion-label>
        <ion-select [(ngModel)]="categorySelect" (ionChange)="onActivityFiltered($event)"  cancelText="إلغاء" okText="التحقق من صحة">
          <ion-option value="all">الكل</ion-option>
          <ion-option value="evenement">هدف</ion-option>
          <ion-option value="pelerinage">الحج</ion-option>
        </ion-select>
        </ion-item>

        <ion-item>
        <ion-label>بلد</ion-label>
        <ion-select [(ngModel)]="countrySelect" (ionChange)="onActivityFiltered($event)" cancelText="إلغاء" okText="التحقق من صحة">
          <ion-option value="all">الكل</ion-option>
          <ion-option *ngFor="let countryValue of pays" value="{{countryValue.code}}">{{countryValue.nom_fr}}</ion-option>
        </ion-select>
        </ion-item>
          <ion-item-divider color="light">
            آخر
          </ion-item-divider>
          <button ion-button full outline  [navPush]="horaire" style="margin: 0" icon-right> انظر أوقات العمل والجماهير <ion-icon  name="arrow-forward"></ion-icon></button>
        </ion-list>

        <!--<button ion-button clear full  icon-right [navPush]="horaire">Voir horaires d'ouverture <ion-icon name="md-arrow-forward"></ion-icon></button>-->


  </ion-toolbar>

  <ion-toolbar style=" padding:0 !important;" *ngIf="language=='portuguese'">

    <ion-list style="margin: 0;">

      <ion-item-divider color="light">
        Filtrar calendário por:
      </ion-item-divider>
      <ion-item>
        <ion-label>Categoria</ion-label>
        <ion-select [(ngModel)]="categorySelect" (ionChange)="onActivityFiltered($event)" cancelText="Anuladora" okText="Valider">
          <ion-option value="all">Todos</ion-option>
          <ion-option value="evenement">Evento</ion-option>
          <ion-option value="pelerinage">Peregrinação</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>País</ion-label>
        <ion-select [(ngModel)]="countrySelect" (ionChange)="onActivityFiltered($event)" cancelText="Anuladora" okText="Valider">
          <ion-option value="all">Todos</ion-option>
          <ion-option *ngFor="let countryValue of pays" value="{{countryValue.code}}">{{countryValue.nom_fr}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item-divider color="light">
        De outros
      </ion-item-divider>
      <button ion-button full outline  [navPush]="horaire" style="margin: 0" icon-right> Veja horários de abertura e massas <ion-icon  name="arrow-forward"></ion-icon></button>
    </ion-list>

    <!--<button ion-button clear full  icon-right [navPush]="horaire">Voir horaires d'ouverture <ion-icon name="md-arrow-forward"></ion-icon></button>-->


  </ion-toolbar>




</ion-footer>
