page-agenda {
 .filter{
   .item {
     height: 10px;
   }
   }

  .scroll-content{
    // overflow-y: auto !important;
    overflow-y: scroll !important;
  }

  .ion-slides{

  }

  .ion-list{
    overflow: scroll;
  }

  .toolbar-title{
    color:  #5fb0e7 !important;
    font-size: 4.7vw !important;
  }

  .monthview-eventdetail-timecolumn{
    color: #f53d3d !important;
  }

  .item{
    //height: 30px;
  }

  ion-footer{
    -webkit-box-shadow: 0 -4px 6px -6px black;
    -moz-box-shadow: 0 -4px 6px -6px black;
    box-shadow: 0 -4px 6px -6px black;
  }
}
