
<ion-header>

  <ion-navbar>
    <ion-title>Prière</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

      <!--<ion-card *ngIf="prieres" padding>-->
      <!--<ion-card padding *ngFor="let priere of prieres">-->
        <!--<ion-card-title>-->
          <!--{{priere.getElementsByTagName("pubDate")[0].childNodes[0].nodeValue}}-->
        <!--</ion-card-title>-->
          <!--&lt;!&ndash;<h3 text-center style="color:#5fb0e7 ; font-size: 5vw !important;">{{title}}</h3>&ndash;&gt;-->
          <!--<h3 text-center style="color:#5fb0e7 ; font-size: 5vw !important;">{{priere.getElementsByTagName("title")[0].childNodes[0].nodeValue}}</h3>-->

        <!--<br>-->
        <!--&lt;!&ndash;<p>{{el}}</p>&ndash;&gt;-->
        <!--&lt;!&ndash;<p [innerHTML]="description" style="text-align: justify"></p>&ndash;&gt;-->
        <!--<p [innerHTML]="priere.getElementsByTagName('description')[0].childNodes[0].nodeValue" style="text-align: justify"></p>-->
      <!--</ion-card>-->

    <ion-slides pager>

      <ion-slide *ngFor="let priere of prieres">
        <h2>{{onDateConvert(priere.getElementsByTagName("pubDate")[0].childNodes[0].nodeValue)}}</h2> <br>
        <h3 text-center style="color:#5fb0e7 ; font-size: 5vw !important;">{{priere.getElementsByTagName("title")[0].childNodes[0].nodeValue}}</h3>
        <br>
        <p [innerHTML]="priere.getElementsByTagName('description')[0].childNodes[0].nodeValue" style="text-align: justify"></p>
      </ion-slide>

    </ion-slides>

      <!--<ion-card *ngIf="!priere" padding>-->
        <!--Loading...-->
      <!--</ion-card>-->



</ion-content>
