page-intention {
  .scroll-content{
    overflow: hidden;
  }
  .toolbar-title{
    color: #5fb0e7 !important;
    font-size: 1.4em !important;
  }

  ion-label{
      font-size: 0.90em !important;
  }

  .toolbar-title{
    color:  #5fb0e7 !important;
    font-size: 4.7vw !important;
  }

  .form-all{
    height: 100%;
  }

  textarea{
    height: 100%;
  }

  .form-content{
    height: 70%;
  }

  .textarea-content{
    height: 40%;
  }

}
