
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="language=='french'">Bénediction</ion-title>
    <ion-title *ngIf="language=='english'">Blessing</ion-title>
    <ion-title *ngIf="language=='spanish'">Bendición</ion-title>
    <ion-title *ngIf="language=='portuguese'">Bênção</ion-title>
    <ion-title *ngIf="language=='arabic'">بركة</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row style="margin-top: 60%">
    <ion-col style="margin: 30px; color: #5fb0e7" *ngIf="language=='french'">
      <h3 text-center>
        Les médailles sont bénies à la fin de chaque messe.
      </h3>
    </ion-col>
    <ion-col style="margin: 30px; color: #5fb0e7" *ngIf="language=='english'">
      <h3 text-center>
        Medals are blessed at the end of each Mass.
      </h3>
    </ion-col>
    <ion-col style="margin: 30px; color: #5fb0e7" *ngIf="language=='spanish'">
      <h3 text-center>
        Las medallas son bendecidas al final de cada misa.
      </h3>
    </ion-col>
    <ion-col style="margin: 30px; color: #5fb0e7" *ngIf="language=='arabic'">
      <h3 text-center>
        المباركة هي الميداليات في نهاية كل كتلة.
      </h3>
    </ion-col>

    <ion-col style="margin: 30px; color: #5fb0e7" *ngIf="language=='portuguese'">
      <h3 text-center>
        Medalhas são abençoadas no final de cada missa.
      </h3>
    </ion-col>

  </ion-row>

</ion-content>
