page-chapelet {
  text-align: justify;
  text-justify: inter-word;
  ion-content{

  }

  h6{
    color: #5fb0e7;

  }

  .scroll-content{
    overflow-y: scroll !important;
  }

  .toolbar-title{
    color:  #5fb0e7 !important;
    font-size: 4.7vw !important;
  }
}
