<!--
  Generated template for the ChapeletJoyeuxPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="language=='french'">Mystères joyeux</ion-title>
    <ion-title *ngIf="language=='english'">Joyful Myteries</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <label *ngIf="language=='french'">
  <h6>SIGNE DE CROIX <br>


  CREDO + PATER + 3 AVE + GLORIA + Ô MARIE CONÇUE SANS PECHE …</h6>
  <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">


  <h6>1er MYSTERE JOYEUX : <br>L’ANNONCIATION de l’Evangile selon Saint Luc 1, 28…38</h6>

    <p text-center><img src="../../assets/imgs/joyful1.jpg.jpg" alt="" style="width: 50%"></p>
  <p>L’Ange entra auprès d’elle et dit : « Sois joyeuse, toi qui as la faveur de Dieu. Le Seigneur est avec toi … Voici que tu vas être enceinte, tu enfanteras un Fils et tu lui donneras le Nom de Jésus. » Marie dit alors : « Voici la Servante du seigneur ; que tout se passe pour moi selon ta parole. »

    <br><strong>FRUIT DU MYSTERE:</strong> Se laisser guider par Dieu

    <br><strong>MEDITATION:</strong> Marie ne savait pas comment se passera cette maternité Divine, mais elle dit « OUI » sans  poser de conditions. Elle accepte  de mettre de côté tous ses projets personnels, elle accepte que Dieu fasse d’elle ce qu’il veut. Son attitude nous apprend à ne pas nous accrocher à nos propres projets ou sur nos plans tout tracés, mais de faire confiance à Dieu qui sait ce qui est bien pour nous.

    <br><strong>INTENTION:</strong> Seigneur, nous te présentons nos projets et nos échecs,  accorde-nous à l’exemple de Marie d’accepter ta volonté. Nous te confions aussi la rentrée scolaire de nos enfants.

    <br><strong>PATER + 10 AVE + GLORIA + Ô MARIE CONÇUE SANS PECHE</strong></p>

  <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">
  <h6>2ème MYSTERE  JOYEUX :<br> LA VISITATION de l’Evangile selon Saint Luc 1, 40…-45</h6>

    <p text-center><img src="../../assets/imgs/joyful2.jpg.jpg" alt="" style="width: 50%"></p>

    <p>Elle entra dans la maison de Zacharie et salua Elisabeth. Or, lorsqu’Elisabeth entendit la salutation de Marie, l’Enfant tressaillit en elle… Alors Elisabeth fut remplie de l’Esprit Saint  et s’écria d’une voix forte « Comment ai-je ce bonheur  que la mère du Seigneur vienne jusqu’à moi ? ». Marie demeura avec elle environ trois mois.

    <br><strong>FRUIT DU MYSTERE:</strong> L’Amour du prochain

    <br><strong>MEDITATION:</strong> Certaines choses nous paraissent souvent dures et pénibles, mais,  quand on est inspiré par la charité, on les accomplit.  C’est ce qu’à fait Marie, elle s’oublie et se met en route pour se mettre au service de sa cousine Elisabeth. Saint Augustin nous invite aussi à en faire autant : Il dit ceci : « Aime et fais ce que tu veux. »

    <br><strong>INTENTION:</strong> Seigneur, avec les saints que nous vénérons dans cette chapelle, nous te confions les personnes isolées, les prisonniers, les sans domicile fixe, les migrants et toutes les personnes qui attendent une aide qui tarde à venir. Qu’ils rencontrent des personnes capables de les accueillir et les servir avec joie.

    <br><strong>PATER + 10 AVE + GLORIA + Ô MARIE CONÇUE SANS PECHE…</strong></p>

  <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">
  <h6>3ème MYSTERE  JOYEUX : <br>LA NATIVITE de l’Evangile selon Saint Luc 2, 7</h6>

    <p text-center><img src="../../assets/imgs/joyful3.jpg.jpg" alt="" style="width: 50%"></p>

  <p>Et elle mit au monde son Fils premier-Né ; elle l’emmaillota et le coucha dans une mangeoire,  parce qu’il n’y avait pas de place  pour eux dans la salle commune.

    <br><strong>FRUIT DU MYSTERE:</strong> L’esprit de pauvreté

    <br><strong>MEDITATION:</strong> Le Fils de Marie, Roi et Seigneur, n’avait ni berceau, ni confort digne d’un Prince. Sa naissance nous apprend déjà à nous détacher des vanités mondaines.

    <br><strong>INTENTION:</strong> Prions pour les enfants qui n’ont pas vu le jour et pour les jeunes filles obligées d’interrompre leurs grossesses pour diverses raisons.

    <br><strong>PATER + 10 AVE + GLORIA + Ô MARIE CONÇUE SANS PECHE…</strong></p>

  <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">
  <h6>4ème MYSTERE JOYEUX :<br> LA PRESENTATION DE JESUS AU TEMPLE de l’Evangile selon Saint Luc 2, 23…-28</h6>

    <p text-center><img src="../../assets/imgs/joyful4.jpg.jpg" alt="" style="width: 50%"></p>

  <p>Ainsi qu’il est écrit dans la Loi  du Seigneur: « Tout Premier-Né sera consacré au Seigneur… » Or il y avait à Jérusalem un homme du nom de Syméon. Cet homme était juste et pieux, … Il avait reçu de Dieu qu’il ne verrait pas la mort avant d’avoir vu le Christ. Il vint alors au temple poussé par l’Esprit ; et quand les parents de Jésus l’amenèrent pour faire ce que la Loi prescrivait à son sujet, il le prit dans ses bras et bénit Dieu.

    <br><strong>FRUIT DU MYSTERE:</strong> Offrir sa vie à Dieu

    <br><strong>MEDITATION:</strong> La Vierge Marie et Joseph ne posent pas un acte anodin, ils présentent et confient à Dieu ce qu’ils ont de précieux : « JESUS, leur enfant. » Ils savent que TOUT vient de lui et TOUT  lui appartient. Ils nous montrent le chemin de l’abandon et de la sécurité en celui qui est notre  SEUL ABRI SÛR : « DIEU. »

    <br><strong>INTENTION:</strong> Douce et tendre Mère, présente à ton Fils les intentions déposées au pied de cet Autel, celles de tous les  pèlerins ci présents. Nous te confions le Pape, les Evêques, les Prêtres, les filles de la Charité, et tous les bénévoles qui œuvrent dans cette chapelle, accorde- leurs la sagesse et  le discernement afin d’aider ceux qu’ils conduisent à grandir dans la FOI.

    <br><strong>PATER + 10 AVE + GLORIA + Ô MARIE CONÇUE SANS PECHE ...</strong></p>

  <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">
  <h6>5ème MYSTERE  JOYEUX : <br>JESUS RETROUVE AU TEMPLE de l’Evangile selon Saint Luc 2,46-49</h6>

    <p text-center><img src="../../assets/imgs/joyful5.jpg.jpg" alt="" style="width: 50%"></p>

  <p>C’est au bout de trois jours qu’ils le trouvèrent assis dans le temple au milieu des Docteurs de la Loi, les écoutant et les interrogeant et ils étaient tous stupéfaits de son intelligence de ses réponses.  A sa vue, ses parents furent saisis d’émotion et sa mère lui dit : «  Mon enfant, pourquoi nous –as tu fait cela, vois ton Père et moi te cherchions tout angoissés »Jésus leurs répondit: « Pourquoi me cherchiez-vous ? Ne saviez vous  pas que je me dois aux affaires de mon Père ? »

    <br><strong>FRUIT DU MYSTERE:</strong> Rechercher  Dieu en toutes choses

    <br><strong>MEDITATION:</strong> Marie et Joseph, ont connu comme nous, l’angoisse et l’inquiétude en cherchant leur Fils. Mais sans perdre la Foi et sans baisser les bras,  ils n’ont  pas laissé le doute les submerger. A la fin,  ils vivent la joie des retrouvailles. Face à nos difficultés, nos peurs et nos doutes, faisons (NOTRE),  cette Prière de Saint Augustin : « Jésus Berger, lumière intérieure, ne laisse pas mes ténèbres me parler. »

    <br><strong>INTENTION:</strong> Avec Marie, demandons la Grâce de persévérer dans la prière. Seigneur, mets sur nos chemins des personnes qui nous accompagnent et nous soutiennent dans cette voie.

    <br><strong>PATER +10 AVE + GLORIA + Ô MARIE CONÇUE SANS PECHE x3 …</strong></p>

  <br><strong>Notre Dame de la Médaille Miraculeuse, Priez pour nous,</strong>
  <br><strong>Sainte Mère de Dieu, priez pour nous,</strong>
  <br><strong>Saint Joseph, priez pour nous,</strong>
  <br><strong>Saint Vincent de Paul, priez pour nous,</strong>
  <br><strong>Sainte Louise de Marillac, priez pour nous,</strong>
  <br><strong>Sainte Catherine Labouré, priez pour nous,</strong>
  <br><strong>Tous les Saints et Saintes du jour, priez pour nous.</strong>
  <br><strong>Signe de croix</strong>

  </label>

  <label *ngIf="language=='english'">

<h6>Cross Signing

  CREDO + PATER + 10 AVE + GLORIA + O MARIE CONCEIVED WITHOUT SIN ...</h6>

    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">

<h6>First joyful Mystery: <br> Annunciation

  <p text-center><img src="../../assets/imgs/joyful1.jpg.jpg" alt="" style="width: 50%"></p>
  Luke 1,28-38</h6>
    The Angel came to her and said: « Be joyful, you who have the favor of God. The Lord is with you ... Behold, you are going to be pregnant, you will give birth to a Son and you will give him the Name of Jesus ». And Mary said: « Behold the handmaid of the Lord: be it done to me according to thy word ».

   
    <br><strong>MEDITATION:</strong>
  Mary did not know how this Divine Motherhood would go, but she said "YES" without any conditions. She agrees to put aside all her personal projects, she accepts that God rules her destiny as he desires. His attitude teaches us not to cling to our own projects or plans, but to trust God who knows what is good for us.
   
    <br><strong>INTENTION:</strong>
  Lord, we present to you our projects and our failures, give us the example of Mary to accept your will. We also entrust you with the start of school for our children.
   
    <br><strong>PATER + 10 AVE + GLORIA + O MARIE CONCEIVED WITHOUT SIN ...</strong>
    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">

<h6>Second joyful Mystery: <br>The Visitation
  Luke 1,40-45</h6>

    <p text-center><img src="../../assets/imgs/joyful2.jpg.jpg" alt="" style="width: 50%"></p>

    She entered the house of Zachariah and greeted Elizabeth. But when Elizabeth heard Mary's greeting, the Child shuddered inside her ... Then Elizabeth was filled with the Holy Spirit and cried out in a loud voice, « How am I to have this happiness that the mother of the Lord comes to me  ». Marie stayed with her for about three months.
   
    <br><strong>MEDITATION:</strong>
  Some things often seem hard and painful, but when you are inspired by charity, you do it. This is what Marie does, she forgets herself and sets out to serve her cousin Elisabeth. St. Augustine also invites us to do the same: He says this:
  "Love and do what you want. "
   
    <br><strong>INTENTION:</strong>
  Lord, with the saints we venerate in this chapel, we entrust to you the isolated people, the prisoners, the homeless, the migrants and all the people who are waiting for help that is coming sooner. May they meet people who can welcome them and serve them with joy.
  And blessed art thou that has believed, because those things shall be accomplished that were spoken to thee by the Lord.

    <br><strong>PATER + 10 AVE + GLORIA + O MARIE CONCEIVED WITHOUT SIN ...</strong>

    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">
<h6>Third joyful Mystery: <br>The Nativity

  Luke 2,7 </h6>

    <p text-center><img src="../../assets/imgs/joyful3.jpg.jpg" alt="" style="width: 50%"></p>

  And she brought forth her firstborn son and wrapped him up in swaddling clothes and laid him in a manger: because there was no room for them in the Inn.
   
    <br><strong>MEDITATION:</strong>
  The Son of Mary, King and Lord, had neither cradle nor comfort worthy of a Prince. His birth teaches us already to detach ourselves from this world vanities.
   
    <br><strong>INTENTION:</strong>
  Pray for children who did not see the light of day and for girls forced to interrupt their pregnancies for various reasons.

    <br><strong>PATER + 10 AVE + GLORIA + O MARIE CONCEIVED WITHOUT SIN ...</strong>

    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">

  <h6>Fourth joyful Mystery: <br>The Presentation of Jesus in the Temple
  Luke 2,28-30</h6>

    <p text-center><img src="../../assets/imgs/joyful4.jpg.jpg" alt="" style="width: 50%"></p>

  …As it is written in the Law of the Lord, « Every firstborn male is to be consecrated to the Lord », and to offer a sacrifice in keeping with what is said in the Law of the Lord: « a pair of doves or two young pigeons». Now there was a man in Jerusalem called Simeon, who was righteous and devout. He was waiting for the consolation of Israel, and the Holy Spirit was on him. It had been revealed to him by the Holy Spirit that he would not die before he had seen the Lord's Messiah. Moved by the Spirit, he went into the temple courts. When the parents brought in the child Jesus to do for him what the custom of the Law required, Simeon took him in his arms and praised God…

    <br><strong>MEDITATION :</strong>
  Virgin Mary and Joseph do not pose a trivial act, they present and entrust God what most precious they have: "JESUS, their child. They know that ALL comes from him and ALL belongs to him. They show us the path of abandon and safety to one who is our ONLY SAFE SHELTER: "GOD. "
   
    <br><strong>INTENTION:</strong>
  Sweet and tender Mother, present to your Son the intentions laid down close to this Altar, those of all the pilgrims present. We entrust you the Pope, the Bishops, the Priests, the daughters of Charity, and all the volunteers who work in this chapel, grant them wisdom and discernment to help those they lead to grow in the FAITH .

    <br><strong>PATER + 10 AVE + GLORIA + O MARIE CONCEIVED WITHOUT SIN ...</strong>
    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">

<h6>Fifth joyful Mystery: <br>The Finding of Jesus in the Temple
  Luke 2,46-49</h6>

    <p text-center><img src="../../assets/imgs/joyful5.jpg.jpg" alt="" style="width: 50%"></p>

  After three days they found him in the temple courts, sitting among the teachers, listening to them and asking them questions. Everyone who heard him was amazed at his understanding and his answers. When his parents saw him, they were astonished. His mother said to him : « My son, why have you done this to us? Your father and I have been terribly worried trying to find you! » « Why were you searching for me? » he asked. « Didn't you know I had to be in my Father's house? »

    <br><strong>MEDITATION:</strong>
  Mary and Joseph, like us, experienced anguish and anxiety as they sought for their Son. But without losing Faith and without giving up, they did not let the doubt overwhelm them. At the end, they live the joy of reunion. Faced with our difficulties, our fears and our doubts, let's make OURS, this Prayer of St. Augustine: "Jesus Shepherd, inner light, do not let my darkness speak to me. "
   
    <br><strong>INTENTION:</strong>
  With Mary, ask Grace to persevere in prayer. Lord, put on our paths people who accompany us and support us in this way.

    <br><strong>PATER + 10 AVE + GLORIA + O MARIE CONCEIVED WITHOUT SIN …</strong>

    <br><strong>Our Lady of the Miraculous Medal, Pray for us,</strong>
    <br><strong>Holy Mother of God, pray for us,</strong>
    <br><strong>Saint Joseph, pray for us,</strong>
    <br><strong>Saint Vincent de Paul, pray for us,</strong>
    <br><strong>Saint Louise de Marillac, pray for us,</strong>
    <br><strong>Saint Catherine Labouré, pray for us,</strong>
    <br><strong>All the saints of the day, pray for us.</strong>

    <br><strong>Cross signing</strong>


</label>
</ion-content>
