<!--
  Generated template for the HorairePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="language=='french'">Horaire</ion-title>
    <ion-title *ngIf="language=='english'">Schedules</ion-title>
    <ion-title *ngIf="language=='spanish'">Horarios</ion-title>
    <ion-title *ngIf="language=='portuguese'">Horários</ion-title>
    <ion-title *ngIf="language=='arabic'">جداول</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <label *ngIf="language=='french'">

  <h6>DIMANCHE et FÊTES :</h6>
  <p>
    <strong>Ouverture :</strong> 7h45 – 13h00 et 14h30 – 19h00 <br>
  <strong>Messes :</strong> 8h00-10h00-11h30 <br>
  <strong>Célébration :</strong> Chapelet à 15h30 <br>
  Pas de Confession <br>
  <strong>Vêpres :</strong> 18h50
  </p>
  <h6>LUNDI :</h6>
  <p>
    <strong>Ouverture :</strong> 7h45 – 13h00 et 14h30 – 19h00 <br>
  <strong>Messes :</strong> 8h00-10h30-12h30 <br>
  <strong>Célébration :</strong> Chapelet à 15h30 <br>
  <strong>Confession : </strong>9h00 – 11h45 et 15h00 – 18h00 <br>
  <strong>Vêpres :</strong> 18h50
  </p>
  <h6>MARDI :</h6>
  <p>
    <strong>Ouverture :</strong> 7h45 – 19h00 <br>
  <strong>Messes :</strong> 8h00 – 10h30 <br>
  <strong>messes et</strong> célébrations mariales 12h30 – 15h30 – 17h15 <br>
  <strong>Adoration : 1</strong>3h30 – 14h30 et 18h15 – 18h45 <br>
  <strong>Confession :</strong> 9h00 – 11h45 et 15h00 – 18h00 <br>
  <strong>Vêpres :</strong> 18h50</p>

  <h6>MERCREDI :</h6>
  <p>
    <strong>Ouverture :</strong> 7h45 – 13h00 et 14h30 – 19h00 <br>
  <strong>Messes :</strong> 8h00 – 10h30 – 12h30 <br>
  <strong>Célébration :</strong> Chapelet à 15h30 <br>
  <strong>Confession : </strong>9h00 – 11h45 et 15h00 – 18h00 <br>
  <strong>Vêpres :</strong> 18h50
  </p>
  <h6>JEUDI :</h6>
  <p>
    <strong>Ouverture :</strong> 7h45 – 13h00 et 14h30 – 19h00 <br>
  <strong>Messes :</strong> 8h00 – 10h30 – 12h30 <br>
  <strong>Célébration :</strong> Chapelet à 15h30 <br>
  <strong>Confession : </strong>9h00 – 11h45 et 15h00 – 18h00 <br>
  <strong>Vêpres :</strong> 18h50
  </p>
  <h6>VENDREDI :</h6>
  <p>
    <strong>Ouverture :</strong> 7h45 – 13h00 et 14h30 – 19h00 <br>
  <strong>Messes :</strong> 8h00 – 10h30 – 12h30 <br>
  <strong>Célébration :</strong> Chemin de croix à 15h30 <br>
  <strong>Confession : </strong>9h00 – 11h45 et 15h00 – 18h00 <br>
  <strong>Vêpres :</strong> 18h50
  </p>
  <h6>SAMEDI :</h6>
  <p>
    <strong>Ouverture :</strong> 7h45 – 13h00 et 14h30 – 19h00 <br>
  <strong>Messes :</strong> 8h00 – 10h30 – 12h30 <br>
  <strong>messe anticipée</strong> à 17h15 <br>
  <strong>Célébration :</strong> Chapelet à 16h00 <br>
  <strong>Confession :</strong> 9h00 – 11h45 et 15h00 – 17h00 <br>
  <strong>Vêpres :</strong> 18h50</p>

  <h6>DIMANCHE :</h6>
  <p>
    <strong>Ouverture :</strong> 7h45 – 13h00 et 14h30 – 19h00 <br>
  <strong>Messes :</strong> 8h00-10h00-11h30 <br>
  <strong>Célébration :</strong> Chapelet à 15h30 <br>
  Pas de Confession <br>
  <strong>Vêpres :</strong> 18h50
  </p>
  <h6>JOUR FÉRIÉ:</h6>
  (à l’exception des fêtes religieuses)
  <p>
    <strong>Ouverture :</strong> 8h15 – 12h30 et 14h30 – 19h00 <br>
  <strong>Messes :</strong> 8h30-10h30 <br>
  <strong>Célébration :</strong> Chapelet à 15h30 <br>
  Pas de Confession <br>
  <strong>Vêpres :</strong> 18h50
  </p>
  <h6>TOUSSAINTS</h6>
  Le 31 octobre : la messe de la veille au soir à 17h15 <br>
  Le 1er novembre : 8h-10h-11h30

  <h6>MERCREDI DES CENDRES</h6>
  Messes à 8h-10h30-12h30-15h30-17h15

  </label>



  <label *ngIf="language=='english'">

    <h6>Monday</h6>
      <strong> Hours open:</strong> 7:45am – 1:00pm and 2:30pm – 7:00pm <br>
    <strong>Masses:</strong> 8:00am, 10:30am, 12:30pm <br>
    <strong> Celebrations:</strong> Rosary 3:30pm <br>
    <strong> Confession:</strong> 9:00am – 11:45am and 3:00pm – 6:00pm <br>
    <strong> Vespers:</strong> 6:50pm <br>

    <h6>Tuesday</h6>
    Marian day <br>
    <strong> Hours open:</strong> 7:45am  – 7:00pm / no midday closure <br>
    <strong> Masses:</strong> 8:00am, 10:30am, 12:30pm, 3:30pm, 5:15pm <br>
    <strong> Celebrations:</strong> No Rosary; Adoration: 1:30 and 6:15 <br>
    <strong> Confession:</strong> 9:00am – 11:45am and 3:00pm – 6:00pm <br>
    <strong> Vespers:</strong> 6:50pm  <br>

    <h6>Wednesday</h6>
    <strong> Hours open:</strong> 7:45am – 1:00pm and 2:30pm – 7:00pm <br>
    <strong> Masses:</strong> 8:00am, 10:30am, 12:30pm <br>
    <strong> Celebrations:</strong> Rosary 3:30pm <br>
    <strong> Confession:</strong> 9:00am – 11:45am and 3:00pm – 6:00pm <br>
    <strong> Vespers:</strong> 6:50pm <br>

    <h6>Thursday</h6>
    <strong> Hours open:</strong> 7:45am – 1:00pm and 2:30pm – 7:00pm <br>
    <strong> Masses:</strong> 8:00am, 10:30am, 12:30pm <br>
    <strong> Celebrations:</strong> Rosary 3:30pm <br>
    <strong> Confession:</strong> 9:00am – 11:45am and 3:00pm – 6:00pm <br>
    <strong> Vespers:</strong> 6:50pm <br>

    <h6>Friday</h6>
    <strong> Hours open:</strong> 7:45am – 1:00pm and 2:30pm – 7:00pm <br>
    <strong> Masses:</strong> 8:00am, 10:30am, 12:30pm <br>
    <strong> Celebrations:</strong> Stations of the Cross 3:30pm <br>
    <strong> Confession:</strong> 9:00am – 11:45am and 3:00pm – 6:00pm <br>
    <strong> Vespers:</strong> 6:50pm <br>

    <h6>Saturday</h6>
    <strong> Hours open:</strong> 7:45am – 1:00pm and 2:30pm – 7:00pm <br>
    <strong> Masses:</strong> 8:00am, 10:30am, 12:30pm, 5:15pm (Vigil for Sunday) <br>
    <strong> Celebrations:</strong> Rosary 4: 00pm <br>
    <strong> Confession:</strong> 9:00am – 11:45am and 3:00pm – 6:00pm <br>
    <strong> Vespers:</strong> 6:50pm <br>

    <h6>Sunday</h6>
    <strong> Hours open:</strong> 7:45am – 1:00pm and 2:30pm – 7:00pm <br>
    <strong> Masses:</strong> 8:00am, 10:00am, 11:15am <br>
    <strong> Celebrations:</strong> Rosary 3:30pm <br>
    No Confession <br>
    <strong> Vespers:</strong> 6:50pm <br>
     

     
    <h6>Public holidays</h6>
    (except holy days)<br>
    <strong> Hours open:</strong> 8:15am – 12:30pm and 2:30pm – 7:00pm <br>
    <strong> Masses:</strong> 8:30am, 10:30pm <br>
    <strong> Celebrations:</strong> Rosary 3:30pm <br>
    No Confession <br>
    <strong> Vespers:</strong> 6:50pm <br>

  </label>


 <label *ngIf="language=='spanish'">


   <h6>Lunes</h6>
   <strong>Horario: </strong> de 7:45 a.m. a 1:00 p.m. y de 2:30 p.m. a 7:00 p.m. <br>
   <strong>Misas: </strong> 8:00 a.m., 10:30 a.m., 12:30 p.m. <br>
   <strong>Celebraciones: </strong> Rosario a las 3:30 p.m. <br>
   <strong>Confesión: </strong> de 9:00a.m. - 11:45a.m. y 3:p.m. - 6:00 p.m. <br>
   <strong>Verspers: </strong> 6:50 p.m. <br>

   <h6>Martes : </h6> día mariano <br>
   <strong>Horario: </strong> 7:45 a.m. - 7:00 p.m. / no hay cierre al mediodía. <br>
   <strong>Misas: 8: </strong>00 a.m., 10:30 a.m., 12:30 p.m., 3:30 p.m., 5:15 p.m. <br>
   <strong>Celebraciones: </strong> Sin rosario; <br>
   <strong>Adoración: </strong> 1:30 y 6:15 <br>
   <strong>Confesión: </strong> de 9:00 a.m. - 11:45 a.m. y de 3:00 p.m. - 6:00 p.m. <br>
   <strong>Verspers: </strong> 6:50 p.m. <br>

   <h6>Miércoles</h6>
   <strong>Horario: </strong> de 7:45 am a 1:00 pm y de 2:30 pm a 7:00 pm <br>
   <strong>Misas: </strong> 8:00 am, 10:30 am, 12:30 pm <br>
   <strong>Celebrations: </strong> Rosario 03:30 pm <br>
   <strong>Confession: </strong> 9:00 am - 11:45 am y 3:00 pm - 6:00 p.m. <br>
   <strong>Verspers: </strong> 6:50 p.m. <br>

   <h6>Jueves</h6>
   <strong>Horario: </strong> de 7:45am a 1:00pm y de 2:30pm a 7:00pm <br>
   <strong>Misas: </strong> 8:00am, 10:30am, 12:30pm <br>
   <strong>Celebrations: </strong> Rosary 3:30pm <br>
   <strong>Confession: </strong> de 9:00am a 11:45am and de 3:00pm a 6:00pm <br>
   <strong>Vespers: </strong> 6:50pm <br>

   <h6>Viernes</h6>
   <strong>Horario: </strong> 7:45 am - 1:00 pm y 2:30 pm - 7:00 pm <br>
   <strong>Misas: </strong> 8:00 am, 10:30 am, 12:30 pm <br>
   <strong>Celebrations: </strong> Estaciones de la Cruz 03:30 pm <br>
   <strong>Confession: </strong> 9:00 am - 11:45 am y 3:00 p.m. - 6:00 p.m. <br>
   <strong>Verspers: </strong> 6:50 p.m. <br>

   <h6>Sábado</h6>
   <strong>Horario: </strong> 7:45 am - 1:00 pm y 2:30 pm - 7:00 pm <br>
   <strong>Misas: </strong> 8:00 am, 10:30 am, 12:30 horas, 17:15 (Vigilia para el domingo) Celebraciones: Rosario 4: 00pm
   <br>
   <strong>Confession: </strong> de 9:00am a 11:45 a.m. y de 3:00 p.m. a 6:00 p.m. <br>
   <strong>Verspers: </strong> 6:50 p.m. <br>

   <h6>Domingo</h6>
   <strong>Horario: </strong> 7:45 am - 1:00 pm y 2:30 pm - 7:00 pm <br>
   <strong>Misas: </strong> 8:00 am, 10:00 am, 11:15 am <br>
   <strong>Celebrations: </strong>  Rosario 03:30pm <br>
   No Confession <br>
   <strong>Vespers: </strong> 6:50pm <br>
    
    
   <h6>Días festivos</h6>
   (Excepto días festivos) <br>
   Horario de atención: de 8:15 am a 12:30 pm y de 2:30 pm a 7:00 pm
   <strong>Misas: </strong> 8:30 am, 10:30 pm <br>
   <strong>Celebrations: </strong> Rosario 03:30pm <br>
   No Confession <br>
   <strong>Vespers: </strong> 06:50pm <br>

  </label>


  <label *ngIf="language=='portuguese'">

    <h6>Segunda-feira</h6>
    <strong> Horas abertas:</strong> 7:45am – 1:00pm and 2:30pm – 7:00pm <br>
    <strong>Massas:</strong> 8:00am, 10:30am, 12:30pm <br>
    <strong> Celebrações:</strong> Rosário 3:30pm <br>
    <strong> Confession:</strong> 9:00am – 11:45am and 3:00pm – 6:00pm <br>
    <strong> Vésperas:</strong> 6:50pm <br>

    <h6>terça</h6>
    Dia mariano <br>
    <strong> Horas abertas:</strong> 7:45am  – 7:00pm / sem fechamento do meio dia <br>
    <strong> Massas:</strong> 8:00am, 10:30am, 12:30pm, 3:30pm, 5:15pm <br>
    <strong> Celebrações:</strong> Nenhum rosário; Adoração: 1:30 and 6:15 <br>
    <strong> Confissão:</strong> 9:00am – 11:45am and 3:00pm – 6:00pm <br>
    <strong> Vésperas:</strong> 6:50pm  <br>

    <h6>Quarta-feira</h6>
    <strong> Horas abertas:</strong> 7:45am – 1:00pm and 2:30pm – 7:00pm <br>
    <strong> Massas:</strong> 8:00am, 10:30am, 12:30pm <br>
    <strong> Celebrações:</strong> Rosário 3:30pm <br>
    <strong> Confissão:</strong> 9:00am – 11:45am and 3:00pm – 6:00pm <br>
    <strong> Vésperas:</strong> 6:50pm <br>

    <h6>Quinta-feira</h6>
    <strong> Horas abertas:</strong> 7:45am – 1:00pm and 2:30pm – 7:00pm <br>
    <strong> Massas:</strong> 8:00am, 10:30am, 12:30pm <br>
    <strong> Celebrações:</strong> Rosário 3:30pm <br>
    <strong> Confissão:</strong> 9:00am – 11:45am and 3:00pm – 6:00pm <br>
    <strong> Vésperas:</strong> 6:50pm <br>

    <h6>Sexta-feira</h6>
    <strong> Horas abertas:</strong> 7:45am – 1:00pm and 2:30pm – 7:00pm <br>
    <strong> Massas:</strong> 8:00am, 10:30am, 12:30pm <br>
    <strong> Celebrações:</strong> Estações da Cruz 3:30pm <br>
    <strong> Confissão:</strong> 9:00am – 11:45am and 3:00pm – 6:00pm <br>
    <strong> Vésperas:</strong> 6:50pm <br>

    <h6>Sábado</h6>
    <strong> Horas abertas:</strong> 7:45am – 1:00pm and 2:30pm – 7:00pm <br>
    <strong> Massas:</strong> 8:00am, 10:30am, 12:30pm, 5:15pm (Vigília para domingo) <br>
    <strong> Celebrações:</strong> Rosário 4: 00pm <br>
    <strong> Confissão:</strong> 9:00am – 11:45am and 3:00pm – 6:00pm <br>
    <strong> Vésperas:</strong> 6:50pm <br>

    <h6>Domingo</h6>
    <strong> Horas abertas:</strong> 7:45am – 1:00pm and 2:30pm – 7:00pm <br>
    <strong> Massas:</strong> 8:00am, 10:00am, 11:15am <br>
    <strong> Celebrações:</strong> Rosário 3:30pm <br>
    Sem confissão <br>
    <strong> Vésperas:</strong> 6:50pm <br>
     

     
    <h6>Feriados públicos</h6>
    (Exceto dias santos)<br>
    <strong> Horas abertas:</strong> 8:15am – 12:30pm and 2:30pm – 7:00pm <br>
    <strong> Massas:</strong> 8:30am, 10:30pm <br>
    <strong> Celebrações:</strong> Rosário 3:30pm <br>
    Sem confissão <br>
    <strong> Vésperas:</strong> 6:50pm <br>

  </label>


  <label *ngIf="language=='arabic'">

    <h6>الإثنين</h6>
    7:45am – 1:00pm and 2:30pm – 7:00pm <strong> ساعات مفتوحة:</strong>  <br>
    8:00am, 10:30am, 12:30pm <strong> الجماهير:</strong>   <br>
    مسبحة 3:30pm <strong> احتفالات:</strong><br>
    9:00am – 11:45am and 3:00pm – 6:00pm  <strong> اعتراف:</strong> <br>
     6:50pm  <strong> صلاة المساء:</strong><br>

    <h6>الثلاثاء</h6>
    Marian day <br>
     7:45am  – 7:00pm / لا إغلاق منتصف النهار  <strong> ساعات مفتوحة:</strong><br>
     8:00am, 10:30am, 12:30pm, 3:30pm, 5:15pm  <strong> الجماهير:</strong><br>
     <strong> احتفالات:</strong> لا سبحة عبادة: 1:30 and 6:15 <br>
     9:00am – 11:45am and 3:00pm – 6:00pm  <strong> اعتراف:</strong><br>
     6:50pm   <strong> صلاة المساء:</strong><br>

    <h6>الأربعاء</h6>
     7:45am – 1:00pm and 2:30pm – 7:00pm  <strong> ساعات مفتوحة:</strong><br>
    8:00am, 10:30am, 12:30pm  <strong> الجماهير:</strong> <br>
    مسبحة 3:30pm <strong> احتفالات:</strong> <br>
     9:00am – 11:45am and 3:00pm – 6:00pm  <strong> اعتراف:</strong><br>
     6:50pm  <strong> صلاة المساء:</strong><br>

    <h6>الخميس</h6>
     7:45am – 1:00pm and 2:30pm – 7:00pm  <strong> ساعات مفتوحة:</strong><br>
     8:00am, 10:30am, 12:30pm  <strong> الجماهير:</strong><br>
    مسبحة 3:30pm <strong> احتفالات:</strong>  <br>
     9:00am – 11:45am and 3:00pm – 6:00pm  <strong> اعتراف:</strong><br>
    6:50pm  <strong> صلاة المساء:</strong> <br>

    <h6>يوم الجمعة</h6>
     7:45am – 1:00pm and 2:30pm – 7:00pm  <strong> ساعات مفتوحة:</strong><br>
     8:00am, 10:30am, 12:30pm  <strong> الجماهير:</strong><br>
     <strong> احتفالات:</strong> محطات الصليب 3:30pm <br>
     9:00am – 11:45am and 3:00pm – 6:00pm  <strong> اعتراف:</strong><br>
     6:50pm  <strong> صلاة المساء:</strong><br>

    <h6>يوم السبت</h6>
     7:45am – 1:00pm and 2:30pm – 7:00pm  <strong> ساعات مفتوحة:</strong><br>
     8:00am, 10:30am, 12:30pm, 5:15pm (الوقفة الاحتجاجية يوم الأحد)  <strong> الجماهير:</strong><br>
     مسبحة 4: 00pm  <strong> احتفالات:</strong><br>
     9:00am – 11:45am and 3:00pm – 6:00pm  <strong> اعتراف:</strong><br>
     6:50pm  <strong> صلاة المساء:</strong><br>

    <h6>الأحد</h6>
     7:45am – 1:00pm and 2:30pm – 7:00pm  <strong> ساعات مفتوحة:</strong><br>
     8:00am, 10:00am, 11:15am  <strong> الجماهير:</strong><br>
    3:30pm مسبحة  <strong> احتفالات:</strong><br>
    لا اعتراف<br>
     6:50pm  <strong> صلاة المساء:</strong><br>
     

     
    <h6>إجازات رسمية</h6>
    (ما عدا الايام المقدسة)<br>
     8:15am – 12:30pm and 2:30pm – 7:00pm  <strong> ساعات مفتوحة:</strong><br>
     8:30am, 10:30pm  <strong> الجماهير:</strong><br>
     مسبحة 3:30pm  <strong> احتفالات:</strong><br>
    لا اعتراف <br>
     6:50pm  <strong> صلاة المساء:</strong><br>

  </label>


</ion-content>
