<!--
  Generated template for the ChapeletLumineuxPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="language=='french'">Mystères lumineux</ion-title>
    <ion-title *ngIf="language=='english'">Luminous mysteries</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <label *ngIf="language=='french'">


    <h6>Signe de croix <br>
      Crédo, Pater, 3 Ave, Gloria, Ô Marie conçue sans péché …</h6>
    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">

    <h6>1er Mystère Lumineux : <br>Le Baptême de Jésus au Jourdain </h6>( Mt 3,13-17)
    <p>Dès que Jésus eut été baptisé, il sortit de l’eau. Et voici, les cieux s’ouvrirent, et il vit l’Esprit de Dieu
      descendre comme une colombe et venir sur lui. Et voici qu’une voix fit entendre ces paroles « Celui-ci est mon
      Fils bien aimé, en qui j’ai mis toute mon affection.»
      <br><strong>Fruit du mystère : </strong>la solidarité
      <br><strong>Méditation:</strong> Jésus est sans péché, il se laisse baptiser pour être solidaire avec nous,
      pauvres pécheurs; Dieu, par cette colombe et sa divine voix valide la mission de son Fils, ainsi le peuple
      assemblé sur la rive reconnaît Jésus comme le fils de Dieu, il en fut de même pour nous, le jour de notre
      immersion dans l’eau baptismale : nous sommes devenus et avons été reconnus enfants de Dieu.
      <br><strong>Intention:</strong> Bienheureuse celle qui a cru en la grâce de notre baptême : Ô Marie, Vierge de
      l’Avent nous te confions tous les baptisés, les catéchumènes que tes maternelles prières régénèrent leur foi.
      <br><strong>Pater, 10 Ave, Gloria, Ô Marie conçue sans péché …</strong></p>
    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">

    <h6>2ème Mystère Lumineux : <br>Les noces de Cana</h6> ( Jean 2, 12)
    <p>Sa mère dit aux servants « faites tout ce qu’il vous dira. »
      <br><strong>Fruit du mystère :</strong> la Foi
      <br><strong>Méditation:</strong> Par sa demande discrètement appuyée auprès de son Fils, Marie dévoile aux yeux
      des disciples et des servants la vraie nature de Jésus : la foi des disciples grandit et celle des servants
      s’éveille.
      <br><strong>Intention:</strong> Bienheureuse, celle qui a cru, Vierge Marie, espoir des opprimés et lumière des
      pauvres, fais grandir en nous notre confiance en toi, toi qui intercèdes pour nous et obtiens pour chacun les
      faveurs de ton fils.
      <br><strong>Pater, 10 Ave, Gloria, Ô Marie conçue sans péché …</strong></p>
    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">

    <h6>3ème Mystère Lumineux :<br> l’Annonce du Royaume et l’Appel à la Conversion</h6> ( Mt 4)
    <p>Alors Jésus vint en Galilée, proclamant l’Évangile de Dieu en disant : « les temps sont accomplis et le Royaume
      de Dieu est proche, convertissez vous et croyez à la Bonne Nouvelle.»
      <br><strong>Fruit du mystère :</strong> la Foi
      <br><strong>Méditation:</strong> Dieu nous a faits à son image pour vivre des béatitudes célestes, il sait que
      nous sommes faibles et prompts au péché, dans nos ténèbres terrestres il a mis sur notre route la sagesse
      lumineuse de l’Évangile qui doit en tous temps guider la conversion de notre cœur : chaque conversion est source
      de joie pour le cœur de Dieu.
      <br><strong>Intention:</strong> Bienheureuse Vierge Marie, Mère de notre peuple en marche vers sa profonde
      conversion, guide et éclaire notre route.
      <br><strong>Pater, 10 Ave, Gloria, Ô Marie conçue sans péché …</strong></p>
    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">

    <h6>4ème Mystère Lumineux :<br> La Transfiguration </h6>( Luc 9 )
    <p>Jésus prit avec lui, Pierre, Jacques et Jean son frère, et il gravit la montagne pour prier, comme il priait son
      visage devint autre et ses vêtements d’une blancheur éclatante … Pierre et ses compagnons étaient accablés de
      sommeil, s’étant bien réveillés, ils virent sa gloire … une voix surgit de la nuée qui disait « Celui-ci est mon
      Fils, l’Élu, écoutez-le. »
      <br><strong>Fruit du mystère :</strong> La Contemplation
      <br><strong>Méditation:</strong> Par ce mystère de grande lumière, Jésus, manifestation vivante de l’amour infini
      du Père nous rend témoins de sa divinité. Dans le silence et en tenant éveillé notre esprit par la pratique
      permanente de la prière nous entendrons la douce voix de notre Créateur.
      <br><strong>Intention:</strong> Bienheureuse, celle qui a connu la gloire de son fils, nous te confions les Filles
      de la Charité et toutes les religieuses, qui à ton exemple remettent de la lumière dans la vie de tous les
      démunis.
      <br><strong>Pater, 10 Ave, Gloria, Ô Marie conçue sans péché …</strong></p>
    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">

    <h6>5ème Mystère Lumineux :<br> L’Institution de l’Eucharistie </h6>(Mc 14,22-25 )
    <p>Pendant qu’ils mangeaient, Jésus prit du pain, le bénit, le rompit et le leur donna en disant « prenez et mangez,
      ceci est mon Corps livré pour vous » et prenant une coupe, il la bénit, et la leur donna en disant « prenez et
      buvez, ceci est mon Sang versé pour vous et pour la multitude en rémission des péchés, vous ferez cela en mémoire
      de moi.»
      <br><strong>Fruit du mystère :</strong> l’Alliance
      <br><strong>Méditation:</strong> Par amour, Jésus a librement livré son corps et son Sang pour nous, par cette
      alliance il nous communique la vie qu’il tient du Père, ainsi petit à petit, par notre pieuse participation à
      l’Eucharistie, nous entretenons ce lien que Jésus veut maintenir indéfectible avec lui.
      <br><strong>Intention:</strong> Bienheureuse celle qui croit en la fidélité des prêtres et de tous les ministres
      de l’Eucharistie : Vierge Marie, Mère du Sacerdoce nous te prions de susciter de nouveaux prêtres, et pour ceux
      que tu as déjà oints, Mère de l’Église éclaire leur route et fructifie leur mission.
      <br><strong>Pater, 10 Ave, Gloria, 3x Ô Marie conçue sans péché …</strong></p>

    <br><strong>Notre Dame de la Médaille Miraculeuse, Priez pour nous,</strong>
    <br><strong>Sainte Mère de Dieu, priez pour nous,</strong>
    <br><strong>Saint Joseph, priez pour nous,</strong>
    <br><strong>Saint Vincent de Paul, priez pour nous,</strong>
    <br><strong>Sainte Louise de Marillac, priez pour nous,</strong>
    <br><strong>Sainte Catherine Labouré, priez pour nous,</strong>
    <br><strong>Tous les Saints et Saintes du jour, priez pour nous.</strong>

    <br><strong>Signe de croix</strong>

  </label>

  <label *ngIf="language=='english'">


    <h6>Cross signing <br>

      CREDO + PATER + 10 AVE + GLORIA + O MARIE CONCEIVED WITHOUT SIN ..</h6>
    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">

    <h6>First luminous Mystery: <br>The Baptism of Jesus

      Mt 3, 13-17 </h6>

    <p text-center><img src="../../assets/imgs/luminous1.jpg" alt="" style="width: 50%"></p>
    As soon as Jesus was baptized, he went out of the water. At that moment heaven was opened, and he saw the Spirit of
    God descending like a dove and alighting on him. And a voice from heaven said, « This is my Son, whom I love; with
    him I am well pleased. »

    <br><strong>MEDITATION:</strong>
    Jesus is without sin, he lets himself be baptized to be in solidarity with us, poor sinners; God, by this dove and
    his divine voice validates the mission of his Son, so the people gathered on the shore recognizes Jesus as the son
    of God, it was the same for us, the day of our immersion in the baptismal water: we became and were recognized as
    children of God.

    <br><strong>INTENTION:</strong>
    Blessed is she who believed in the grace of our baptism: O Mary, Virgin of Advent we entrust to you all the
    baptized, the catechumens that your maternal prayers regenerate their faith.

    <br><strong>PATER + 10 AVE + GLORIA + O MARIE CONCEIVED WITHOUT SIN ..</strong>


    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">
    <h6>Second luminous Mystery: <br> The Marriage at Cana
      Jean 2,5</h6>

    <p text-center><img src="../../assets/imgs/luminous2.jpg" alt="" style="width: 50%"></p>

    His mother said to the servants, « Do whatever he tells you. »

    <br><strong>MEDITATION:</strong>
    With her discreetly supported request by her Son, Mary reveals to the disciples and servants the true nature of
    Jesus: the faith of the disciples grows and that of the servants awakens.

    <br><strong>INTENTION:</strong>
    Blessed you are who believed. Virgin Mary, hope of the oppressed and light of the poor, increase in us our
    confidence in you, you who intercede for us and obtain for each the favors of your son.

    <br><strong>PATER + 10 AVE + GLORIA + O MARIE CONCEIVED WITHOUT SIN ..</strong>

    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">
    <h6>Third Luminous Mystery: <br> Proclamation of the Kingdom of God
      Mt 4</h6>

    <p text-center><img src="../../assets/imgs/luminous3.jpg" alt="" style="width: 50%"></p>

    Jesus went throughout Galilee, teaching in their synagogues, proclaiming: « the times are fulfilled and the Kingdom
    of God is near, convert and believe in the good news. »


    <br><strong>MEDITATION:</strong>
    God made us at his image to live heavenly beatitudes, he knows that we are weak and quick to sin, in our darkness he
    has put on our way the luminous wisdom of the Gospel which must at all times guide the conversion of our heart:
    every conversion is a source of joy for the heart of God.

    <br><strong>INTENTION:</strong>
    Blessed Virgin Mary, Mother of our walking people towards his profound conversion, do guide and illuminate our
    journey.

    <br><strong>PATER + 10 AVE + GLORIA + O MARIE CONCEIVED WITHOUT SIN ..</strong>

    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">

    <h6>Fourth luminous Mystery: <br>The Transfiguration

      <p text-center><img src="../../assets/imgs/luminous4.jpg" alt="" style="width: 50%"></p>

      Luke 9 </h6>
    Jesus took Peter, John and James with him and went up onto a mountain to pray. As he was praying, the appearance of
    his face changed, and his clothes became as bright as a flash of lightning… Peter and his companions were very
    sleepy, but when they became fully awake, they saw his glory … A voice came from the cloud, saying, « This is my
    Son, whom I have chosen; listen to him. »

    <br><strong>MEDITATION:</strong>
    By this mystery of great light, Jesus, living manifestation of the infinite love of the Father, makes us witnesses
    of his divinity. In silence, keeping our mind awake by the permanent practice of prayer we will hear the sweet voice
    of our Creator.

    <br><strong>INTENTION:</strong>
    Blessed, the one who has known the glory of her son. We entrust you the Daughters of Charity and all the nuns, who
    in your example give light to the lives of all the poor.

    <br><strong>PATER + 10 AVE + GLORIA + O MARIE CONCEIVED WITHOUT SIN ..</strong>


    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">
    <h6>Fifth luminous Mystery: <br>The Eucharist
    Mark 14,22;24</h6>

    <p text-center><img src="../../assets/imgs/luminous5.jpg" alt="" style="width: 50%"></p>

    While they were eating, Jesus took bread, and when he had given thanks, he broke it and gave it to his disciples,
    saying, « Take it; this is my body ». Then he took a cup, and when he had given greets, he gave it to them, and they
    all drank from it. « This is my blood of the[3]covenant, which is poured out for many », he said to them.


    <br><strong>MEDITATION:</strong>
    For love, Jesus freely delivered his body and his Blood for us, through this covenant he communicates to us the life
    that he holds from the Father, so little by little, by our pious participation in the Eucharist, we maintain this
    link that Jesus wants to keep unfailing with him.

    <br><strong>INTENTION:</strong>
    Blessed is she who believes in the fidelity of the priests and all ministers of the Eucharist: Virgin Mary, Mother
    of the Priesthood, we beg you to raise up new priests, and for those whom you have already anointed, Mother of the
    Church enlighten their road and fructifies their mission.


    <br><strong>PATER + 10 AVE + GLORIA + O MARIE CONCEIVED WITHOUT SIN ..</strong>

    <br><strong>Our Lady of the Miraculous Medal, Pray for us,</strong>
    <br><strong>Holy Mother of God, pray for us,</strong>
    <br><strong>Saint Joseph, pray for us,</strong>
    <br><strong>Saint Vincent de Paul, pray for us,</strong>
    <br><strong>Saint Louise de Marillac, pray for us,</strong>
    <br><strong>Saint Catherine Labouré, pray for us,</strong>
    <br><strong>All the saints of the day, pray for us.</strong>

    <br><strong>Cross Signing</strong>

  </label>

</ion-content>
