page-parcours {
  text-align: justify;

h4{
  text-align: center;
  color: #5fb0e7;
}

  h5{
    text-align: center;
    color: #5fb0e7;
    width: 100%;
  }

  .toolbar-title{
    color: #5fb0e7 !important;
  }
  h6{
    width: 100%;
  }

  .toolbar-title{
    color:  #5fb0e7 !important;
    font-size: 4.7vw !important;
  }

}
