<!--
  Generated template for the ChapeletDouloureuxPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="language=='french'">Mystères douloureux</ion-title>
    <ion-title *ngIf="language=='english'">Sorrowful Mysteries</ion-title>
    <ion-title *ngIf="language=='spanish'">Misterios dolorosos</ion-title>
    <ion-title *ngIf="language=='portuguese'">Mistérios Dolorosos</ion-title>
    <ion-title *ngIf="language=='arabic'">أسرار حزينة</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <label *ngIf="language=='french'">

  <h6>Signe de croix <br>

  CREDO + PATER + 3 AVE + GLORIA + Ô MARIE CONÇUE SANS PECHE…</h6>

  <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">

  <h6>1er MYSTERE DOULOUREUX : <br>L’AGONIE DE JESUS A GETHSEMANI (Mc 14,34)</h6>

    <p text-center><img src="assets/imgs/sorrowful1.jpg" alt="" style="width: 50%"></p>

  <p>Mon âme est triste à en mourir. Demeurez ici et veillez.</p>

  <br><strong>MEDITATION :</strong>
  Dans l’épreuve, Jésus se tourne vers son Père avec humilité et confiance. Il prie à l’écart, puis revient vers les trois apôtres qui se sont endormis. Il adresse à Pierre  un reproche attristé et ajoute une exhortation: «Veillez et priez» Une deuxième puis une troisième fois, Jésus s’écarte pour prier. Quand il rejoint enfin ses disciples, Jésus est prêt pour le combat. Sa prière persévérante a été exaucée. Fortifié par la grâce, Jésus accepte le calice de la Passion. Prier avec Jésus à l’heure de sa plus grande épreuve, c’est la première charité que nous pouvons avoir vis-à-vis de Lui.

  <br><strong>INTENTION :</strong>
  Pierre aime Jésus. Il se croit prêt à tous les sacrifices. Mais au moment crucial où Jésus a besoin de lui, il s’endort… Que la prière devienne l’acte le plus important de notre vie…

  <br><strong>PATER +10 AVE + GLORIA + Ô MARIE CONÇUE SANS PECHE…</strong>

    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">
  <h6>2ème MYSTERE DOULOUREUX : <br>LA FLAGELLATION

    (J 19,1)</h6>

    <p text-center><img src="assets/imgs/sorrowful2.jpg" alt="" style="width: 50%"></p>

  Alors Pilate ordonna d’emmener Jésus pour le flageller.

  <br><strong>MEDITATION :</strong>
  Les soldats romains dépouillent Jésus de ses vêtements, l’attachent à une colonne et le cinglent de leurs fouets, composés de deux à trois lanières terminées à leur extrémité par des osselets de mouton ou des balles métalliques jumelées. Chez les juifs, le supplice était limité à 49 coups. La flagellation romaine était particulièrement acharnée. Les experts ont relevé sur le linceul de Turin les empreintes d’environ 120 coups. Comment oublier ce sang versé pour moi ?

  <br><strong>INTENTION :</strong>
  Ouvrir les yeux, regarder la foule insouciante et indifférente devant le spectacle affreux des horreurs infligées à Jésus. Regarder les bourreaux déchaînés le frapper avec une cruauté inouïe… Demandons la grâce de compatir aux souffrances des autres et de nous unir à Jésus, comme Marie, dans nos souffrances.

  <br><strong>PATER +10 AVE + GLORIA + Ô MARIE CONÇUE SANS PECHE…</strong>
  <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">

  <h6>3ème MYSTERE DOULOUREUX : <br>LE COURONNEMENT D’EPINES

  (J 19, 2-3)</h6>

    <p text-center><img src="assets/imgs/sorrowful3.jpg" alt="" style="width: 50%"></p>

  Les soldats tressèrent une couronne d’épines, et la lui mirent sur la tête; puis ils le revêtirent d’un manteau de pourpre. Ils s’avançaient vers lui et ils disaient : « Honneur à toi, roi des Juifs ! » Et ils le giflaient.

  <br><strong>MEDITATION :</strong>
  Quand les bourreaux furent las de frapper, ils délièrent Jésus, jetèrent sur ses épaules sanglantes un manteau de pourpre, enfoncèrent sur sa tête une couronne formée de longues épines dont les pointes lui déchiraient la tête et le front. Ricanant et se prosternant devant lui pour se moquer de ses prétentions royales, ils le frappaient au visage. La royauté du Christ, Roi du ciel et de la terre, est tournée en dérision, mais à travers cet abîme d’humiliations, le couronnement d’épines laisse pressentir le triomphe du Christ-Roi.

  <strong>INTENTION :</strong>
  Que la Vierge Marie nous aide à reconnaître en tout homme outragé la Sainte Face couronnée d’épines.

  <br><strong>PATER +10 AVE + GLORIA + Ô MARIE CONÇUE SANS PECHE…</strong>
  <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">

  <h6>4ème MYSTERE DOULOUREUX : <br>LE PORTEMENT DE CROIX

  (J 19, 17)</h6>

    <p text-center><img src="assets/imgs/sorrowful4.jpg" alt="" style="width: 50%"></p>

  Jésus, portant lui-même sa croix, sortit en direction du lieu dit Le Crâne, ou Calvaire, en hébreu: Golgotha.

  <br><strong>MEDITATION :</strong>
  Selon les règles, le condamné devait porter jusqu’au lieu du supplice la lourde poutre transversale sur laquelle il serait cloué ou attaché. Dans cette ancienne carrière, à l’extérieur des remparts de Jérusalem, émerge une butte rocheuse haute d’environ 4m. Trois pieux se profilent sur le monticule appelé Golgotha. Ceux qui ont applaudi aux miracles de Jésus, les amis des jours heureux, ont disparu. Un petit groupe de femmes lui est seul resté fidèle et le suit, ainsi que celui que Jésus aimait, comme se nomme lui-même saint Jean.

  <br><strong>INTENTION :</strong>
  Puissions-nous être désormais avec le petit groupe de ceux qui consolent Jésus par leur fidélité et leur amour.

  <br><strong>PATER +10 AVE + GLORIA + Ô MARIE CONÇUE SANS PECHE…</strong>

  <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">
  <h6>5ème MYSTERE DOULOUREUX :<br> LE CRUCIFIEMENT ET LA MORT DE JESUS

  (J 19, 25-27)</h6>

    <p text-center><img src="assets/imgs/sorrowful5.jpg" alt="" style="width: 50%"></p>

  Jésus, voyant sa mère, et près d’elle le disciple qu’il aimait, dit à sa mère: « Femme, voici ton fils » Puis il dit au disciple: « Voici ta mère. » Et à partir de cette heure-là le disciple la prit chez lui.

  <br><strong>MEDITATION :</strong>
  Il est trois heures de l’après-midi. A cette heure tragique, le Fils de Dieu vient de mourir, exécuté par les hommes. C’est sans résistance que le Maître du ciel et de la terre s’est prêté à l’affreux supplice du crucifiement. Quel déchirement dans le cœur de sa Mère, qui l’a suivi jusqu’au Calvaire et se tient debout au pied de la Croix! Jésus déclare sa volonté suprême: il confie à sa mère le disciple bien-aimé et à travers lui son Eglise et l’humanité entière; et sur la terre, Jean tiendra auprès de la Mère de Jésus la place de son Fils qui va mourir, il l’abritera, la nourrira, l’aimera. Après sa mort, une ultime révélation de l’amour de Jésus nous est donnée par un dernier acte chargé de symbole: son cœur est transpercé par une lance et il en sort du sang et de l’eau.

  <br><strong>INTENTION :</strong>
  Demandons de contempler le Christ crucifié, perfection de l’amour, dans la messe qui renouvelle sans cesse le sacrifice de la croix. L’autel de nos églises est un nouveau calvaire.

  <br><strong>PATER +10 AVE + GLORIA + Ô MARIE CONÇUE SANS PECHE…</strong>
  <br>
  <br><strong>Notre Dame de la Médaille Miraculeuse, Priez pour nous,</strong>
  <br><strong>Sainte Mère de Dieu, priez pour nous,</strong>
  <br><strong>Saint Joseph, priez pour nous,</strong>
  <br><strong>Saint Vincent de Paul, priez pour nous,</strong>
  <br><strong>Sainte Louise de Marillac, priez pour nous,</strong>
  <br><strong>Sainte Catherine Labouré, priez pour nous,</strong>
  <br><strong>Tous les Saints et Saintes du jour, priez pour nous.</strong>

  <br><strong>Signe de croix</strong>
  </label>

  <label *ngIf="language=='english'">

    <h6>Cross signing <br>

    CREDO + PATER + 3 AVE + GLORIA + O MARIE CONCEIVED WITHOUT SIN …</h6>


    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">

    <h6>First sorrowful Mystery: <br>The Agony in the Garden
    Mark 14,34</h6>



    <p text-center><img src="assets/imgs/sorrowful1.jpg" alt="" style="width: 50%"></p>

    My soul is sorrowful even unto death. Stay you here and Watch.

    <br><strong>MEDITATION:</strong>
    In crucible moments, Jesus turns to his Father with humility and confidence. He prays apart, then returns to the three apostles who have fallen asleep. He addresses to Peter a sad reproach and adds an exhortation: « Watch and pray ». A second and a third time, Jesus departs to pray. When he finally rejoins his disciples, Jesus is ready for the fight. His persevering prayer has been answered. Fortified by grace, Jesus accepts the chalice of the Passion. To pray with Jesus at the time of his greatest ordeal is the first charity we can have towards Him.

    <br><strong>INTENTION:</strong>
    Peter loves Jesus. He thinks he is ready for all the sacrifices. But at the crucial moment when Jesus needs him, he falls asleep ... May prayer become the most important act of our life ...


    <br><strong>PATER + 3 AVE + GLORIA + O MARIE CONCEIVED WITHOUT SIN …</strong>


    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">

    <h6>Second sorrowful Mystery: <br>The Scourging at the Pillar
    John 19,1</h6>


    <p text-center><img src="assets/imgs/sorrowful2.jpg" alt="" style="width: 50%"></p>

    Pilate orders Jesus to be scourged.

    <br><strong>MEDITATION:</strong>
    The Roman soldiers strip Jesus of his clothes, attach him to a column, and beat him with their whips, consisting of two or three thongs terminated at their ends by knuckle bones or twin metal bullets. Among the Jews, the punishment was limited to 49 rounds. The Roman flogging was particularly fierce. The experts noted on the shroud of Turin imprints of about 120 shots. How to forget this blood shed for me?

    <br><strong>INTENTION:</strong>
    Open your eyes, watch the carefree and indifferent crowd in front of the dreadful spectacle of the horrors inflicted on Jesus. Watch the unleashed executioners strike him with incredible cruelty ... Let us ask the grace to sympathize with the sufferings of others and to unite ourselves to Jesus, like Mary, in our sufferings.

    <br><strong>PATER + 3 AVE + GLORIA + O MARIE CONCEIVED WITHOUT SIN …</strong>

    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">


    <h6>Third sorrowful Mystery: <br> The Crowning with Thorns
    John 19,3</h6>


    <p text-center><img src="assets/imgs/sorrowful3.jpg" alt="" style="width: 50%"></p>

    The soldiers twisted together a crown of thorns and put it on his head. They clothed him in a purple robe. And they came to him and said: « Hail, king of the Jews. And they slapped him in the face.

    <br><strong>MEDITATION:</strong>
    When the executioners were tired of striking, they untied Jesus, threw a purple cloak over his bloody shoulders, and pressed on his head a crown formed of long spines, the tips of which tore his head and forehead. Smiting and prostrating before him to make fun of his royal pretensions, they hit him in the face. The kingship of Christ, King of heaven and earth, is mocked, but through this abyss of humiliation, the coronation of thorns suggests the triumph of Christ the King.

    <br><strong>INTENTION:</strong>
    May the Virgin Mary help us recognize in every outraged man the Holy Face crowned with thorns.

    <br><strong>PATER + 3 AVE + GLORIA + O MARIE CONCEIVED WITHOUT SIN …</strong>

    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">

    <h6>Fourth sorrowing Mystery: <br> The Carrying of the Cross
    John 19,17</h6>


    <p text-center><img src="assets/imgs/sorrowful4.jpg" alt="" style="width: 50%"></p>

    And bearing his own cross, he went forth to that place which is called Calvary, but in Hebrew Golgotha.

    <br><strong>MEDITATION:</strong>
    According to the rules, the convict had to carry to the scene of the torture the heavy transverse beam on which he would be nailed or tied. In this ancient quarry, outside the ramparts of Jerusalem, emerges a rocky butt high of about 4m. Three piles stand on the mound called Golgotha. Those who have applauded the miracles of Jesus, the friends of happy days, have disappeared. A small group of women alone remained faithful to him and followed him, as well as the one whom Jesus loved, as Saint John calls himself.

    <br><strong>INTENTION:</strong>
    May we be with the small group of those who comfort Jesus by their fidelity and love.

    <br><strong>PATER + 3 AVE + GLORIA + O MARIE CONCEIVED WITHOUT SIN …</strong>

    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">

    <h6>Fifth sorrowing Mystery: <br> Crucifixion and Death of Jesus
    Jean 19,25-27</h6>


    <p text-center><img src="assets/imgs/sorrowfull5.jpg" alt="" style="width: 50%"></p>

    When Jesus therefore had seen his mother and the disciple standing whom he loved, he said to his mother: « Woman, behold thy son ». After that, he said to the disciple: « Behold thy mother ». And from that hour, the disciple took her to his own.

    <br><strong>MEDITATION:</strong>
    It's three o'clock in the afternoon. At this tragic hour, the Son of God has just died, executed by men. It is without resistance that the Master of heaven and earth has lent himself to the dreadful torment of crucifixion. What a tear in the heart of his Mother, who followed him to Calvary and stands at the foot of the Cross! Jesus declares his supreme will: he entrusts his mother the beloved disciple and through him his Church and all humanity; and on earth, John will hold the place of his Son, who will die, with the Mother of Jesus. He will shelter, nourish and love her. After his death, a final revelation of the love of Jesus is given to us by a last act loaded with symbol: his own heart is pierced by a spear and blood and water come out of it.

    <br><strong>INTENTION:</strong>
    Let us contemplate the crucified Christ, perfection of love, in the Mass which constantly renews the sacrifice of the cross. The altar of our churches is a new ordeal.


    <br><strong>PATER + 3 AVE + GLORIA + O MARIE CONCEIVED WITHOUT SIN …</strong>


    <br><strong>Our Lady of the Miraculous Medal, Pray for us,</strong>
    <br><strong>Holy Mother of God, pray for us,</strong>
    <br><strong>Saint Joseph, pray for us,</strong>
    <br><strong>Saint Vincent de Paul, pray for us,</strong>
    <br><strong>Saint Louise de Marillac, pray for us,</strong>
    <br><strong>Saint Catherine Labouré, pray for us,</strong>
    <br><strong>All the saints of the day, pray for us.</strong>

    <br><strong>Cross signing</strong>

  </label>



  <label *ngIf="language=='spanish'">




    <h6>Señal de la cruz  <br>
      CREDO + PATER + 3 AVE + GLORIA + Oh María sin pecado concebida…</h6>
        <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">

    <h6>1er MISTERIO DOLOROSO: LA AGONÍA DE JESÚS EN GETHSEMANI <br>
    (Mc 14,34)</h6>

    <p text-center><img src="assets/imgs/sorrowful1.jpg" alt="" style="width: 50%"></p>

    Mi alma está triste de morir. Quédate aquí y mira.

    <br><strong>MEDITACIÓN:</strong>
    En la prueba, Jesús se dirige a su Padre con humildad y confianza. Reza aparte, luego regresa a los tres apóstoles que se han quedado dormidos. Se dirige a Pedro con un reproche triste y agrega una exhortación: "Mira y ora". Una segunda y una tercera vez, Jesús se va a orar. Cuando finalmente se reúne con sus discípulos, Jesús está listo para la pelea. Su oración perseverante ha sido respondida. Fortificado por gracia, Jesús acepta el cáliz de la Pasión. Orar con Jesús en el momento de su mayor prueba es la primera caridad que podemos tener con él.

    <br><strong>INTENCION:</strong>
    Pedro ama a Jesús Él piensa que está listo para todos los sacrificios. Pero en el momento crucial en que Jesús lo necesita, se duerme ... Que la oración se convierta en el acto más importante de nuestra vida ...

    <br><strong>PATER + 3 AVE + GLORIA + Oh María sin pecado concebida…</strong>

    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">
    <h6>2º MISTERIO DOLOROSO: FLAGELACIÓN <br>
    (J 19,1)</h6>

    <p text-center><img src="assets/imgs/sorrowful2.jpg" alt="" style="width: 50%"></p>

    Entonces Pilato ordenó llevar a Jesús para azotarlo.

    <br><strong>MEDITACIÓN:</strong>
    Los soldados romanos le quitan a Jesús sus ropas, lo sujetan a una columna y lo golpean con sus látigos, que consisten en dos o tres tangas terminadas en sus extremos por huesos de nudillos o balas de metal gemelas. Entre los judíos, el castigo se limitó a 49 rondas. La flagelación romana fue particularmente feroz. Los expertos observaron en el sudario de las impresiones de Turín de aproximadamente 120 disparos. ¿Cómo olvidar esta sangre derramada por mí?

    <br><strong>INTENCION:</strong>
    Abre los ojos, mira a la multitud despreocupada e indiferente ante el espantoso espectáculo de los horrores infligidos a Jesús. Observe cómo los verdugos liberados lo golpean con increíble crueldad ... Pidamos la gracia para simpatizar con los sufrimientos de los demás y unirnos a Jesús, como a María, en nuestros sufrimientos.

    <br><strong>PATER + 3 AVE + GLORIA + Oh María sin pecado concebida…</strong>

    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">

    <h6>3er MISTERIO DOLOROSO: LA CORONACIÓN DE EPINES <br>
    (J 19, 2-3)</h6>

    <p text-center><img src="assets/imgs/sorrowful3.jpg" alt="" style="width: 50%"></p>

    Los soldados trenzaron una corona de espinas y se la pusieron en la cabeza; Luego lo vistieron con una túnica púrpura. Ellos vinieron a él y le dijeron: "¡Honrarte, Rey de los judíos! Y lo abofetearon.

    <br><strong>MEDITACIÓN:</strong>
    Cuando los verdugos estaban cansados de golpear, desató a Jesús, arrojó una capa púrpura sobre sus hombros ensangrentados, y presionó sobre su cabeza una corona formada por largas espinas, cuyas puntas le desgarraron la cabeza y la frente. Golpeando y postrándose ante él para burlarse de sus pretensiones reales, lo golpearon en la cara. La monarquía de Cristo, Rey del cielo y de la tierra, es burlada, pero a través de este abismo de humillación, la coronación de espinas sugiere el triunfo de Cristo Rey.


    <br><strong>INTENCION:</strong>
    Que la Virgen María nos ayude a reconocer en cada hombre ultrajado la Santa Faz coronada de espinas.
    .
    <br><strong>PATER + 3 AVE + GLORIA + Oh María sin pecado concebida…</strong>

    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">
    <h6>4to MISTERIO DOLOROSO: JESUS CARGA CON LA CRUZ <br>
    (J 19, 17)</h6>

    <p text-center><img src="assets/imgs/sorrowful4.jpg" alt="" style="width: 50%"></p>

    Jesús, llevando su propia cruz, salió al lugar llamado La Calavera, o Calvario, en hebreo: Gólgota.

    <br><strong>MEDITACIÓN:</strong>
    De acuerdo con las reglas, el convicto debía llevar al lugar de la tortura la pesada viga transversal sobre la que sería clavado o atado. En esta antigua cantera, fuera de las murallas de Jerusalén, emerge un columpio rocoso de unos 4 m. Tres montones de pie en el montículo llamado Gólgota. Aquellos que han aplaudido los milagros de Jesús, los amigos de los días felices, han desaparecido. Solo un pequeño grupo de mujeres permanecieron fieles a él y lo siguieron, así como a aquel a quien Jesús amaba, como se llama a sí mismo Juan.

    <br><strong>INTENCION:</strong>
    Que estemos con el pequeño grupo de aquellos que consuelan a Jesús por su fidelidad y amor.

    <br><strong>PATER + 3 AVE + GLORIA + Oh María sin pecado concebida…</strong>

    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">

    <h6>5to MISTERIO DOLOROSO: LA CRUCIFICACIÓN Y LA MUERTE DE JESÚS <br>
    (J 19, 25-27)</h6>

    <p text-center><img src="assets/imgs/sorrowfull5.jpg" alt="" style="width: 50%"></p>

    Jesús, al ver a su madre, y cerca de ella el discípulo a quien amaba, le dijo a su madre: "Mujer, he ahí a tu hijo". Luego le dijo al discípulo: "Aquí está tu madre". Y a partir de esa hora, el discípulo la llevó a su casa.

    <br><strong>MEDITACIÓN:</strong>
    Son las tres de la tarde. En esta hora trágica, el Hijo de Dios acaba de morir, ejecutado por hombres. Es sin resistencia que el Maestro del cielo y la tierra se ha prestado al espantoso tormento de la crucifixión. ¡Qué lágrima en el corazón de su Madre, que lo siguió hasta el Calvario y se encuentra al pie de la Cruz! Jesús declara su voluntad suprema: confía a su madre el discípulo amado y por medio de él su Iglesia y toda la humanidad; y en la tierra, Juan sostendrá el lugar de su Hijo, que morirá, con la Madre de Jesús. Él lo cobijará, lo nutrirá y lo amará. Después de su muerte, una última revelación del amor de Jesús nos es dada por un último acto cargado de símbolo: su corazón es atravesado por una lanza y de él sale sangre y agua.

    <br><strong>INTENCION:</strong>
    Pidamos contemplar al Cristo crucificado, la perfección del amor, en la Misa que renueva constantemente el sacrificio de la cruz. El altar de nuestras iglesias es una nueva prueba.

    <br><strong>PATER + 3 AVE + GLORIA + Oh María sin pecado concebida…</strong>


    <br><strong>Medalla de Nuestra Señora de la Milagrosa, ruega por nosotros,</strong>
    <br><strong>Santa Madre de Dios, ruega por nosotros,</strong>
    <br><strong>San José, ruega por nosotros,</strong>
    <br><strong>San Vicente de Paúl, ruega por nosotros,</strong>
    <br><strong>Santa Luisa de Marillac, ruega por nosotros,</strong>
    <br><strong>Santa Catalina Labouré, ruega por nosotros,</strong>
    <br><strong>Todos los santos del día, ruega por nosotros.</strong>
     
    <br><strong>Señal de la cruz</strong>

  </label>

  <label *ngIf="language=='arabic'">



    <h6>إشارة الصليب <br>

      نؤمن باله واحد + أبانا الذي في السمارات + ٣ السلام عليك يا مريم + المجد لله في الأعالي + يا مريم المولودة بلا خطيئة…</h6>

    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">

    <h6>سر الآلام الاول : <br>احتظار يسوع في غيتسيماني (مرقس 14,34)</h6>

    <p text-center><img src="assets/imgs/sorrowful1.jpg" alt="" style="width: 50%"></p>

    <p>نفسي حزينة حتّى الموت. ابقوا هنا واسهروا.</p>

    <br><strong>تأمل :</strong>
    في المحنة، ينظر يسوع الى والده بتواضع وثقة. يصلي على حدا ومن يعود الى التلاميذ الثلاثة الذين ناموا. يوجه الى بطرس ملامة حزينة ويقول بعتب: «اسهروا وصلوا» للمرة الثانية والثالثة يبتعد يسوع ليصلي. عندما ينضم اخيراً الى تلاميذه، كان يسوع حاضراً للمعركة. ان صلاته المستمرة سوف تتحقق. بقوة النعم الالهية، قبل يسوع كأس الحب. صلوا مع يسوع في ساعة المحنة الشديدة، فالصلاة هي اول عمل محبة نقومها تجاهه.

    <br><strong>النية :</strong>
    بطرس يحب يسوع. يعتقد انه قادر على جميع التضحيات. الا انه في اللحظة الحاسمة حيث كان يسوع بحاجة اليه، كان نائماُ. فلتكن الصلاة، العمل الاهم في حياتنا…

    <br><strong>أبانا الذي في السمارات +١٠ السلام عليك يا مريم + المجد لله في الأعالي + يا مريم المولودة بلا خطيئة…</strong>

    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">
    <h6>سر الآلام الثاني : <br>الجلد

      (يوحنا 19,1)</h6>

    <p text-center><img src="assets/imgs/sorrowful2.jpg" alt="" style="width: 50%"></p>

    عندها امر بيلاطس باحضار يسوع من اجل جلده.

    <br><strong>تأمل :</strong>
    قام الجنود الرومان بازالة الثياب عن يسوع، وعلقوه على خشبة  وبدأوا بجلده بعصي حادة  تتالف في اخرها من عظام خواريف او من كريات حديدية. عند اليهود، كان العقاب ينتهي بـ ٤٩ جلدة. اما الجلد الروماني فكان اشد تبريحاً. لقد اكد الخبراء على وجود بصمات لمئة وعشرون جلدة على الكفن. كيف يمكننا نسيان هذا الدم الذي هدر من اجلنا ?

    <br><strong>النية :</strong>
    افتحوا عيونكم وانظروا الى الحشد اللامبالي الذي شهد بشاعة الاعمال التي حصلت ليسوع. انظروا الى المجرمين الذين انكبوا على يسوع ببشاعة لا توصف. فلنطلب نعمة الاحساس مع الام الاخرين وللنضم الى يسوع ومريم في الامنا.

    <br><strong>أبانا الذي في السمارات +١٠ السلام عليك يا مريم + المجد لله في الأعالي + يا مريم المولودة بلا خطيئة…</strong>
    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">

    <h6>سر الآلام الثالث : <br>التتويج بالشوك

      (يوحنا 19, 2-3)</h6>

    <p text-center><img src="assets/imgs/sorrowful3.jpg" alt="" style="width: 50%"></p>

    صنع الجنود تاجاً من شوك ووضعوه على رأسه. ومن ثم غطوه بمعطف من ارجوان. ثم اقتربوا منه وقالوا له : « انه شرف لنا يا ملك اليهود ! » وصفعوه

    <br><strong>تأمل :</strong>
    عندما تعب المجرمون من ضرب يسوع، فكوه ووضعوا على اكتافه معطفاً من ارجوان، وكللوا رأسه بتاج من شوك كانت تمزق رأسه وجبينه. ومن ثم انحنوا امامه استهزاء بادعاءاته الملوكية وصفعوه على وجهه. ان ملكوت يسوع في السماء وعلى الارض اصبحت محطة للاستهزاء، انما تتويجه بالشوك يوحي بانتصار يسوع الملك.

    <strong>النية :</strong>
    فلتساعدنا مريم العذراء على رؤية القداسة المتوجة بالشوك في كل انسان منكوب.

    <br><strong>أبانا الذي في السمارات +١٠ السلام عليك يا مريم + المجد لله في الأعالي + يا مريم المولودة بلا خطيئة…</strong>
    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">

    <h6>سر الآلام الرابع : <br>حمل الصليب

      (يوحنا 19, 17)</h6>

    <p text-center><img src="assets/imgs/sorrowful4.jpg" alt="" style="width: 50%"></p>

    يسوع، حاملاً صليبه، خرج متجهاً الى مكان يدعى في العبرية: الجلجلة.

    <br><strong>تأمل :</strong>
    حسب القوانين، على المحكوم ان يحمل الصليب الذي سيعلق ويصلب عليه لغاية مكان النهاية. في هذه المهمة، خارج اعمدة القدس، كان يوجد صخرة تعلو 4 امتار. ثلاثة اتقياء تسللوا على طريق الجلجلة. اما الذين كانوا يصفقون لعجائب يسوع، اصدقاء الاوقات الطيبة، فقد اخنفوا جميعاً. مجموعة صغيرة فقط من النساء بقين اوفياء ولحقن به والشخص الذي احبه يسوع والذي  يدعى يوحنا.

    <br><strong>النية :</strong>
    فلنكن نحن من هذه المجموعة الصغيرة التي تعزي يسوع من خلال وفائها ومحبتها.

    <br><strong>أبانا الذي في السمارات +١٠ السلام عليك يا مريم + المجد لله في الأعالي + يا مريم المولودة بلا خطيئة…</strong>

    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">
    <h6>سر الآلام الخامس :<br> الصلب وموت يسوع

      (J 19, 25-27)</h6>

    <p text-center><img src="assets/imgs/sorrowful5.jpg" alt="" style="width: 50%"></p>

    عندما رأى يسوع والدته وبجانبها التلميذ الذي احبه قال لها: « , يا امراة، هذا هو ابنك »  ثم قال لتلميذه: « هذه هي امك. » Et ومنذ هذه الساعة، اخذ التلميذ مريم الى منزله.

    <br><strong>تأمل :</strong>
    كانت الساعة الثالثة بعد الظهر. في هذه الساعة المؤلمة، مات ابن الله، مقتولاً من البشر. وقد سلم سيد السماء والارض نفسه الى الام الصلب من دون اية مقاومة. يا لقلب امه الممزق التي لحقته الى الجلجلة ووقفت على كعب الصليب! اعلن يسوع عن ارادته العليا. اودع تلميذه المحبوب الى والدته ومن خلاله الكنسية والعالم باجمعه. وعلى الارض، سوف يحل يوجنا الى جانب والدة يسوع مكان  ابنها الذي سيموت، سوق يسكنها لديه، ويطعمها ويحبها. بعد مماته، انبثاق جديد لحب يسوع تجسد بعمل رمزي اخير: تم خرق قلبه بسيف وخرج منه دم وماء.

    <br><strong>النية :</strong>
    فلنطلب ان نتأمل يسوع المصلوب، وكمال حبه، في القداس الذي يجدد دائماً تضحية الصليب. ان مذبح كنائسنا هو تجديد دائم للجلجلة.

    <br><strong>أبانا الذي في السمارات +١٠ السلام عليك يا مريم + المجد لله في الأعالي + يا مريم المولودة بلا خطيئة…</strong>
    <br>
    <br><strong>يا سيّدة الأيقونة العجائبية، صلي لاجلنا,</strong>
    <br><strong>يا قديسة مريم والدة الله، صلي لاجلنا,</strong>
    <br><strong>يا قديس يوسف، صلي لاجلنا,</strong>
    <br><strong>يا قديس منصور دي بول، صلي لاجلنا,</strong>
    <br><strong>يا قديسة لويز دي مارياك، صلي لاجلنا,</strong>
    <br><strong>يا قديسة كاترين دي لابوريه، صلي لاجلنا,</strong>
    <br><strong>يا جميع القديسين والقديسات، صلوا لاجلنا.</strong>
    <br><strong>إشارة الصليب</strong>

  </label>

  <label *ngIf="language=='portuguese'">



    <h6>Sinal da Cruz <br>

      CREDO + PATER + 3 AVE + GLORIA + Ó MARIA CONCEBIDA SEM PECADO…</h6>

    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">

    <h6>1° MISTÉRIO DOLOROSO : <br>A agonia de Jesus no Getsêmani
      (Marcos 14,34)</h6>

    <p text-center><img src="assets/imgs/sorrowful1.jpg" alt="" style="width: 50%"></p>

    <p>Minha alma está triste até a morte. Permanecei  aqui e vigiai.</p>

    <br><strong>MEDITAÇÃO:</strong>
    Ao jardim chamado Getsêmani, Jesus leva consigo os três apóstolos: Pedro, Tiago e João que haviam assistido à Transfiguração.  Uma angústia mortal leva o pensamento de Jesus a meditar sobre os suplícios  que deveria sofrer e uma insondável desolação: a tristeza do amigo traído, do Mestre abandonado, do Mestre rejeitado; o horror dos pecados e das infâmias da humanidade;  a dor diante da ingratidão com que os homens retribuem seu amor; e as almas que o rejeitam. Na provação, Jesus se volta com humildade e confiança  para seu Pai. Ele se afasta para rezar e depois volta para junto dos três apóstolos que tinham adormecido.  Ele dirige a Pedro algumas palavras de reprovação, juntando uma exortação: “Vigiai e orai…” E pela segunda vez e depois pela terceira vez, Jesus se afasta para rezar. Quando, finalmente, se junta aos discípulos, Jesus estava pronto para o combate.  Sua oração perseverante havia sido ouvida.  Fortificado pela graça, Jesus aceita o cálice da Paixão.

    <br><strong>CENTELHAS :</strong>
    Rezar com Jesus, no momento de seu sofrimento maior, é a primeira caridade que podemos praticar diante Dele.

    <br><strong>PATER +10 AVE + GLORIA + Ó MARIA CONCEBIDA SEM PECADO…</strong>

    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">
    <h6>2° MISTÉRIO DOLOROSO : <br>A FLAGELAÇÃO DE JESUS

      (João 19,1)</h6>

    <p text-center><img src="assets/imgs/sorrowful2.jpg" alt="" style="width: 50%"></p>

    Pilatos,  então,  tomou Jesus e o mandou flagelar.

    <br><strong>MEDITAÇÃO :</strong>
    Jesus foi flagelado. Trata-se de um fato histórico, relatado pelos quatro Evangelistas como um episódio marcante de sua Paixão.  Pilatos, a quem Jesus foi conduzido, depois da conspiração com o grande sacerdote Caifás, livra Jesus do seu jugo, mesmo antes de pronunciar a sentença de morte. Efetivamente, desconcertado por todos aqueles acontecimentos, propôs a  anistia, mas  um famoso prisioneiro, chamado Barrabás,  tinha a preferência dos judeus. Pilatos ainda esperava acalmar os inimigos de Jesus, livrando-o do suplício da flagelação.  Os soldados romanos despojaram Jesus de suas vestes, amarraram-no a uma coluna e começaram a açoitá-lo com seus chicotes  compostos de duas ou três correias,  tendo às suas extremidades ossos de carneiro ou bolas de metal aos pares. Entre os judeus, o limite máximo de açoites era de 49 golpes.  A flagelação romana era muito mais violenta. No Sudário de Turim, os especialistas encontraram cerca de 120 impressões de golpes desfechados contra Jesus.

    <br><strong>CENTELHAS :</strong>
    Como posso me esquecer de que este sangue foi por mim derramado?

    <br><strong>PATER +10 AVE + GLORIA + Ó MARIA CONCEBIDA SEM PECADO…</strong>
    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">

    <h6>3º MISTÉRIO DOLOROSO : <br>A COROAÇÃO DE ESPINHOS

      (João 19, 3)</h6>

    <p text-center><img src="assets/imgs/sorrowful3.jpg" alt="" style="width: 50%"></p>

    Aproximando-se dele, diziam: “ Salve, rei dos judeus!”  E o esbofeteavam.

    <br><strong>MEDITAÇÃO :</strong>
    Quando os algozes fartaram-se de açoitar Jesus, desamarraram-no  da coluna e jogaram sobre seus ombros ensangüentados  um manto vermelho, colocaram uma coroa feita por longos espinhos entrelaçados, cujas pontas lhe rasgavam a cabeça e a fronte. Com risos de escárnio, prostravam-se aos seus pés,  zombando de suas pretensões reais e esbofeteando-lhe o rosto.  A realeza do Cristo, Rei do Céu e da terra, transformava-se em motivo de deboche, mas através daquele abismo de humilhações, a coroação de espinhos deixava antever  o triunfo de Cristo-Rei.

    <strong>CENTELHAS :</strong>
    Como São Vicente, digamos com freqüência: “Oh! Salvador!”

    <br><strong>PATER +10 AVE + GLORIA + Ó MARIA CONCEBIDA SEM PECADO…</strong>
    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">

    <h6>4º MISTÉRIO DOLOROSO : <br>JESUS CARREGANDO A CRUZ

      (João 19, 17)</h6>

    <p text-center><img src="assets/imgs/sorrowful4.jpg" alt="" style="width: 50%"></p>

    Jesus saiu,  carregando a sua cruz, e chegou ao lugar chamado “Lugar da Caveira” ou Calvário – em hebraico chamado Gólgota.

    <br><strong>MEDITAÇÃO :</strong>
    Segundo as regras, o condenado devia levar,  até o lugar do suplício, a pesada parte transversal da cruz, à qual seria pregado ou amarrado. Do alto de antiga pedreira,  nos arredores de Jerusalém, ergue-se um pico rochoso de  cerca de 4 metros de altura. Três estacas foram enfileiradas, sobre o montículo chamado Gólgota. Pouco a pouco a lembrança do caminho por onde passou o lúgubre cortejo tornou-se local de crescente devoção dos cristãos.

    <br><strong>CENTELHAS :</strong>
    “Por toda a parte e em todos os pobres que sofrem,  ali repousam a minha força e a minha ternura”,  dizia São Vicente de Paulo.

    <br><strong>PATER +10 AVE + GLORIA + Ó MARIA CONCEBIDA SEM PECADO…</strong>

    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">
    <h6>5º MISTÉRIO DOLOROSO :<br> A CRUCIFICAÇÃO E A MORTE DE JESUS

      (João 19, 25-27)</h6>

    <p text-center><img src="assets/imgs/sorrowful5.jpg" alt="" style="width: 50%"></p>

    Jesus, então, vendo sua mãe e, perto dela, o discípulo a quem amava, disse à sua mãe: “Mulher, eis o teu filho!” Depois disse ao discípulo: “Eis a tua mãe!” E a partir dessa hora o discípulo a recebeu em sua casa.

    <br><strong>MEDITAÇÃO :</strong>
    São três horas da tarde.  Nesta hora trágica, o Filho de Deus acaba de morrer, executado pelos homens. É sem resistência que o Mestre  do céu e da terra sujeitou-se ao terrível suplício da crucificação.  Quão despedaçado o coração de sua Mãe, que o acompanhou até o Calvário e permaneceu de pé junto à Cruz! Testemunha ocular da morte de Jesus, João nos reporta seu testamento. Quatro mulheres também estavam perto da Cruz. Diante desse grupo Jesus declara sua vontade suprema: confia à sua mãe o discípulo bem-amado e através dele sua Igreja e a humanidade  inteira; e sobre a terra, João  ocupará junto à Mãe de Jesus  o lugar de seu Filho que vai morrer.  Ele lhe dará abrigo, alimentando-a e amando-a como filho. Depois de sua morte, uma derradeira  revelação do amor de Jesus  nos é dada através de um ato cheio de simbolismos: seu coração é trespassado por uma lança  e dali sai sangue e água.

    <br><strong>CENTELHAS :</strong>
    Aparentemente Jesus fora abandonado por seu Pai.  Maria fora abandonada pelo seu Filho. Quando a provação nos abater, contemplemos Jesus, contemplemos Maria.

    <br><strong>PATER +10 AVE + GLORIA + Ó MARIA CONCEBIDA SEM PECADO...…</strong>
    <br>
    <br><strong>Nossa Senhora da Medalha Milagrosa, reze por nós,</strong>
    <br><strong>Santa Mãe de Deus, reze por nós,</strong>
    <br><strong>São José, reze por nós,</strong>
    <br><strong>São Vicente de Paulo, reze por nós,</strong>
    <br><strong>Sagrada Louise de Marillac, reze por nós,</strong>
    <br><strong>Sagrada Catherine Labouré, reze por nós,</strong>
    <br><strong>Todos os santos do dia, reze por nós.</strong>

    <br><strong>Sinal da Cruz</strong>

  </label>

</ion-content>
