<!--
  Generated template for the ChapeletDouloureuxPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="language=='french'">Mystères douloureux</ion-title>
    <ion-title *ngIf="language=='english'">Mystères douloureux</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <label *ngIf="language=='french'">

  <h6>Signe de croix <br>

  CREDO + PATER + 3 AVE + GLORIA + Ô MARIE CONÇUE SANS PECHE…</h6>

  <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">

  <h6>1er MYSTERE DOULOUREUX : <br>L’AGONIE DE JESUS A GETHSEMANI (Mc 14,34)</h6>


  <p>Mon âme est triste à en mourir. Demeurez ici et veillez.</p>

  <br><strong>MEDITATION :</strong>
  Dans l’épreuve, Jésus se tourne vers son Père avec humilité et confiance. Il prie à l’écart, puis revient vers les trois apôtres qui se sont endormis. Il adresse à Pierre  un reproche attristé et ajoute une exhortation: «Veillez et priez» Une deuxième puis une troisième fois, Jésus s’écarte pour prier. Quand il rejoint enfin ses disciples, Jésus est prêt pour le combat. Sa prière persévérante a été exaucée. Fortifié par la grâce, Jésus accepte le calice de la Passion. Prier avec Jésus à l’heure de sa plus grande épreuve, c’est la première charité que nous pouvons avoir vis-à-vis de Lui.

  <br><strong>INTENTION :</strong>
  Pierre aime Jésus. Il se croit prêt à tous les sacrifices. Mais au moment crucial où Jésus a besoin de lui, il s’endort… Que la prière devienne l’acte le plus important de notre vie…

  <br><strong>PATER +10 AVE + GLORIA + Ô MARIE CONÇUE SANS PECHE…</strong>

    <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">
  <h6>2ème MYSTERE DOULOUREUX : <br>LA FLAGELLATION

    (J 19,1)</h6>
  Alors Pilate ordonna d’emmener Jésus pour le flageller.

  <br><strong>MEDITATION :</strong>
  Les soldats romains dépouillent Jésus de ses vêtements, l’attachent à une colonne et le cinglent de leurs fouets, composés de deux à trois lanières terminées à leur extrémité par des osselets de mouton ou des balles métalliques jumelées. Chez les juifs, le supplice était limité à 49 coups. La flagellation romaine était particulièrement acharnée. Les experts ont relevé sur le linceul de Turin les empreintes d’environ 120 coups. Comment oublier ce sang versé pour moi ?

  <br><strong>INTENTION :</strong>
  Ouvrir les yeux, regarder la foule insouciante et indifférente devant le spectacle affreux des horreurs infligées à Jésus. Regarder les bourreaux déchaînés le frapper avec une cruauté inouïe… Demandons la grâce de compatir aux souffrances des autres et de nous unir à Jésus, comme Marie, dans nos souffrances.

  <br><strong>PATER +10 AVE + GLORIA + Ô MARIE CONÇUE SANS PECHE…</strong>
  <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">

  <h6>3ème MYSTERE DOULOUREUX : <br>LE COURONNEMENT D’EPINES

  (J 19, 2-3)</h6>
  Les soldats tressèrent une couronne d’épines, et la lui mirent sur la tête; puis ils le revêtirent d’un manteau de pourpre. Ils s’avançaient vers lui et ils disaient : « Honneur à toi, roi des Juifs ! » Et ils le giflaient.

  <br><strong>MEDITATION :</strong>
  Quand les bourreaux furent las de frapper, ils délièrent Jésus, jetèrent sur ses épaules sanglantes un manteau de pourpre, enfoncèrent sur sa tête une couronne formée de longues épines dont les pointes lui déchiraient la tête et le front. Ricanant et se prosternant devant lui pour se moquer de ses prétentions royales, ils le frappaient au visage. La royauté du Christ, Roi du ciel et de la terre, est tournée en dérision, mais à travers cet abîme d’humiliations, le couronnement d’épines laisse pressentir le triomphe du Christ-Roi.

  <strong>INTENTION :</strong>
  Que la Vierge Marie nous aide à reconnaître en tout homme outragé la Sainte Face couronnée d’épines.

  <br><strong>PATER +10 AVE + GLORIA + Ô MARIE CONÇUE SANS PECHE…</strong>
  <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">

  <h6>4ème MYSTERE DOULOUREUX : <br>LE PORTEMENT DE CROIX

  (J 19, 17)</h6>
  Jésus, portant lui-même sa croix, sortit en direction du lieu dit Le Crâne, ou Calvaire, en hébreu: Golgotha.

  <br><strong>MEDITATION :</strong>
  Selon les règles, le condamné devait porter jusqu’au lieu du supplice la lourde poutre transversale sur laquelle il serait cloué ou attaché. Dans cette ancienne carrière, à l’extérieur des remparts de Jérusalem, émerge une butte rocheuse haute d’environ 4m. Trois pieux se profilent sur le monticule appelé Golgotha. Ceux qui ont applaudi aux miracles de Jésus, les amis des jours heureux, ont disparu. Un petit groupe de femmes lui est seul resté fidèle et le suit, ainsi que celui que Jésus aimait, comme se nomme lui-même saint Jean.

  <br><strong>INTENTION :</strong>
  Puissions-nous être désormais avec le petit groupe de ceux qui consolent Jésus par leur fidélité et leur amour.

  <br><strong>PATER +10 AVE + GLORIA + Ô MARIE CONÇUE SANS PECHE…</strong>

  <hr style="width: 100%; margin-top: 20px; margin-bottom: 20px;">
  <h6>5ème MYSTERE DOULOUREUX :<br> LE CRUCIFIEMENT ET LA MORT DE JESUS

  (J 19, 25-27)</h6>
  Jésus, voyant sa mère, et près d’elle le disciple qu’il aimait, dit à sa mère: « Femme, voici ton fils » Puis il dit au disciple: « Voici ta mère. » Et à partir de cette heure-là le disciple la prit chez lui.

  <br><strong>MEDITATION :</strong>
  Il est trois heures de l’après-midi. A cette heure tragique, le Fils de Dieu vient de mourir, exécuté par les hommes. C’est sans résistance que le Maître du ciel et de la terre s’est prêté à l’affreux supplice du crucifiement. Quel déchirement dans le cœur de sa Mère, qui l’a suivi jusqu’au Calvaire et se tient debout au pied de la Croix! Jésus déclare sa volonté suprême: il confie à sa mère le disciple bien-aimé et à travers lui son Eglise et l’humanité entière; et sur la terre, Jean tiendra auprès de la Mère de Jésus la place de son Fils qui va mourir, il l’abritera, la nourrira, l’aimera. Après sa mort, une ultime révélation de l’amour de Jésus nous est donnée par un dernier acte chargé de symbole: son cœur est transpercé par une lance et il en sort du sang et de l’eau.

  <br><strong>INTENTION :</strong>
  Demandons de contempler le Christ crucifié, perfection de l’amour, dans la messe qui renouvelle sans cesse le sacrifice de la croix. L’autel de nos églises est un nouveau calvaire.

  <br><strong>PATER +10 AVE + GLORIA + Ô MARIE CONÇUE SANS PECHE…</strong>
  <br>
  <br><strong>Notre Dame de la Médaille Miraculeuse, Priez pour nous,</strong>
  <br><strong>Sainte Mère de Dieu, priez pour nous,</strong>
  <br><strong>Saint Joseph, priez pour nous,</strong>
  <br><strong>Saint Vincent de Paul, priez pour nous,</strong>
  <br><strong>Sainte Louise de Marillac, priez pour nous,</strong>
  <br><strong>Sainte Catherine Labouré, priez pour nous,</strong>
  <br><strong>Tous les Saints et Saintes du jour, priez pour nous.</strong>

  <br><strong>Signe de croix</strong>
  </label>

  <label *ngIf="language=='english'">

    The Sorrowful Mysteries

    Cross signing

    CREDO + PATER + 3 AVE + GLORIA + O MARIE CONCEIVED WITHOUT SIN …

    First sorrowful Mystery: The Agony in the Garden



    Mark 14,34
    My soul is sorrowful even unto death. Stay you here and Watch.

    MEDITATION:
    In crucible moments, Jesus turns to his Father with humility and confidence. He prays apart, then returns to the three apostles who have fallen asleep. He addresses to Peter a sad reproach and adds an exhortation: « Watch and pray ». A second and a third time, Jesus departs to pray. When he finally rejoins his disciples, Jesus is ready for the fight. His persevering prayer has been answered. Fortified by grace, Jesus accepts the chalice of the Passion. To pray with Jesus at the time of his greatest ordeal is the first charity we can have towards Him.

    INTENTION:
    Peter loves Jesus. He thinks he is ready for all the sacrifices. But at the crucial moment when Jesus needs him, he falls asleep ... May prayer become the most important act of our life ...


    PATER + 3 AVE + GLORIA + O MARIE CONCEIVED WITHOUT SIN …


    Second sorrowful Mystery: The Scourging at the Pillar



    John 19,1
    Pilate orders Jesus to be scourged.

    MEDITATION:
    The Roman soldiers strip Jesus of his clothes, attach him to a column, and beat him with their whips, consisting of two or three thongs terminated at their ends by knuckle bones or twin metal bullets. Among the Jews, the punishment was limited to 49 rounds. The Roman flogging was particularly fierce. The experts noted on the shroud of Turin imprints of about 120 shots. How to forget this blood shed for me?

    INTENTION:
    Open your eyes, watch the carefree and indifferent crowd in front of the dreadful spectacle of the horrors inflicted on Jesus. Watch the unleashed executioners strike him with incredible cruelty ... Let us ask the grace to sympathize with the sufferings of others and to unite ourselves to Jesus, like Mary, in our sufferings.

    PATER + 3 AVE + GLORIA + O MARIE CONCEIVED WITHOUT SIN …


    Third sorrowful Mystery: The Crowning with Thorns


    John 19,3
    The soldiers twisted together a crown of thorns and put it on his head. They clothed him in a purple robe. And they came to him and said: « Hail, king of the Jews. And they slapped him in the face.

    MEDITATION:
    When the executioners were tired of striking, they untied Jesus, threw a purple cloak over his bloody shoulders, and pressed on his head a crown formed of long spines, the tips of which tore his head and forehead. Smiting and prostrating before him to make fun of his royal pretensions, they hit him in the face. The kingship of Christ, King of heaven and earth, is mocked, but through this abyss of humiliation, the coronation of thorns suggests the triumph of Christ the King.

    INTENTION:
    May the Virgin Mary help us recognize in every outraged man the Holy Face crowned with thorns.

    PATER + 3 AVE + GLORIA + O MARIE CONCEIVED WITHOUT SIN …


    Fourth sorrowing Mystery: The Carrying of the Cross



    John 19,17
    And bearing his own cross, he went forth to that place which is called Calvary, but in Hebrew Golgotha.

    MEDITATION:
    According to the rules, the convict had to carry to the scene of the torture the heavy transverse beam on which he would be nailed or tied. In this ancient quarry, outside the ramparts of Jerusalem, emerges a rocky butt high of about 4m. Three piles stand on the mound called Golgotha. Those who have applauded the miracles of Jesus, the friends of happy days, have disappeared. A small group of women alone remained faithful to him and followed him, as well as the one whom Jesus loved, as Saint John calls himself.

    INTENTION:
    May we be with the small group of those who comfort Jesus by their fidelity and love.

    PATER + 3 AVE + GLORIA + O MARIE CONCEIVED WITHOUT SIN …


    Fifth sorrowing Mystery: Crucifixion and Death of Jesus


    Jean 19,25-27
    When Jesus therefore had seen his mother and the disciple standing whom he loved, he said to his mother: « Woman, behold thy son ». After that, he said to the disciple: « Behold thy mother ». And from that hour, the disciple took her to his own.

    MEDITATION:
    It's three o'clock in the afternoon. At this tragic hour, the Son of God has just died, executed by men. It is without resistance that the Master of heaven and earth has lent himself to the dreadful torment of crucifixion. What a tear in the heart of his Mother, who followed him to Calvary and stands at the foot of the Cross! Jesus declares his supreme will: he entrusts his mother the beloved disciple and through him his Church and all humanity; and on earth, John will hold the place of his Son, who will die, with the Mother of Jesus. He will shelter, nourish and love her. After his death, a final revelation of the love of Jesus is given to us by a last act loaded with symbol: his own heart is pierced by a spear and blood and water come out of it.

    INTENTION:
    Let us contemplate the crucified Christ, perfection of love, in the Mass which constantly renews the sacrifice of the cross. The altar of our churches is a new ordeal.


    PATER + 3 AVE + GLORIA + O MARIE CONCEIVED WITHOUT SIN …


    Our Lady of the Miraculous Medal, Pray for us,
    Holy Mother of God, pray for us,
    Saint Joseph, pray for us,
    Saint Vincent de Paul, pray for us,
    Saint Louise de Marillac, pray for us,
    Saint Catherine Labouré, pray for us,
    All the saints of the day, pray for us.

    Cross signing

  </label>

</ion-content>
